@import "global.less";
@grey: #9D9D9D;
* {
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Sans', sans-serif;
}
//	header slider starts
#header {
	position: fixed;
	top: 0;
}
#body {
	&.sluzby{
		#hide-blur-offset{
			background: #1f1f1f;
		}
	}
	#hide-blur-offset{
		position: absolute;
		// top: -50px
		top: 150px;
		width: 100%;
		background: #fff;
		height: 10px;
		z-index:1000;
	}
}
.other-pages {
	&.sluzby {
		section.other #firstWrapper{
			margin-top: 20px;
		}
	}
	section.other {
		margin-top: 360px;
		#firstWrapper {
			margin-top: 0;
		}
	}
} 

.header{
	text-align:center;
	//background: url('../img/main_1920.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:200px 0 360px 0;
	position: relative;
	&.smaller {
		height: 300px;
		padding: 150px 0 150px 0;
	}
	
	#banner-2{
	  width: 100%;
	  height: 100%;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  position: absolute;
		filter: grayscale(60%);
		-webkit-filter: grayscale(60%);
	  
	  .own-img{
		width: 100%;
		height: 100%;
		z-index: -1;
		position: absolute;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		&.bg-p-t{
		  background-position: top -600px left 0;
  
		  &.four{
			background-position: top -400px left 0;
		  }
		  &.five{
			background-position: top -500px left 0;
		  }
		}
		&.bg-p-r{
		  background-position: right;
  
		}
	  }
	}
	
}
//	header slider ends 
::selection {
	background: @green;
	color: #fff;
}

::-moz-selection {
	background: @green;
	color: #fff;
}

h3{
	font-size: 26.5px;
	color: @green;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 20px;
}

.seo_txt, .seo_title{
	position: absolute;
	top: -10000px;
	left: -10000px;
}
#wrapper-preloader{
	width: 100%;
	height: 100%;
	background-color: @black;
	position: fixed;
	z-index: 3000;
	overflow: hidden;
	opacity: .7;
	//margin-top: -80px;

	#preloader{

		.loader-icon{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}
}
.wrapper {
	width: 92%;
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
	.row {
		margin: 0 15px;
	}
}

.img-responsive{
	border-radius: 5px;
}

a:hover{
	text-decoration: none;
}
#service-buttons{
	padding-top: 0;
}
#firstWrapper{
	.nonstop{
		text-align: center;
	}
	.dark-background.text-center {
		padding-bottom: 0;
	}
}
.service-detail{
	.row {
		position: relative;
		height: auto;
		.transition(.3s);
		.service-content {
			// opacity: 1;
			// pointer-events: all;
			display: block;
			position: absolute;
			top: 0;
			.transition(.3s);
			&.hide {
				display: none;
				// opacity: 0;
				// pointer-events: none;
			}
		}
	}
}

img.photo {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	.transition(0.3s);
	
	&:hover {
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-ms-transform: scale(1.05);
	}
}

.article_text {
	margin: 30px 15px;
}

.table td p {
	margin-bottom: 0;
}

.service-detail h3{
	margin-bottom: 20px;
}
.service-detail p{
	text-align: left !important;
}



.main-page {
	h1 { display: none; }
	
	#header {
		background: @black;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		-ms-box-shadow: none !important;
		-o-box-shadow: none !important;
	}
}

section, footer {
	width: 100%;
	float: left;
}
.auto_search_result{
	position: absolute;
}



.dark-background{
	background: #1f1f1f;
	color: #fff;
	padding: 50px 0;
	
	.sll3, .sll5{
		// min-height: 320px;
		height: 160px;
		text-align: center;
		margin: 15px 0;
		cursor: pointer;
		.transition(.3s);
		.service-icon{
			fill: #fff;
			.transition(.3s);
		}
		&:hover,&.active{
			.service-icon{
				fill: #30C742;
			}
			h3 {
				color: #30C742;
			}
			.content{
				display: block;
				background-color: rgba(0,0,0,.7);
				opacity: 1;
				box-shadow: 0 5px 10px rgba(0,0,0,.8);
				.transition(.3s);
				color: #fff;
				text-align: center;
				p{
					color: #fff;
					text-align: center !important;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
					width: auto;
					height: 100px;
					max-width: 300px;

				}
			}
		}
		h3{
			text-align: center;
			// position: absolute;
			bottom: 0;
			margin-top: 10px;
			width: 100%;
			color: @grey;
			font-weight: 400;
			.transition(.3s);
		}
		.content{
			opacity: 0;
			display: none;
			position: absolute;
			width: 90%;
			height: 90%;
			background-color: transparent;
			color: #000;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 5%;
			// transtition: .3s;
			-webkit-transtition: .3s;
			-moz-transtition: .3s;
			-o-transtition: .3s;

		}
		.service-icon{
			max-width: 160px;
			text-align: center;
			margin-top: 30px;
			max-height: 80px;
		}
	}
}


.services-list {
	width: 100%;
	float: left;
	margin: 25px 0 0;
	text-align: center;
	
	li {
		display: inline-block;	
		width: 265px;
		height: 235px;
		text-align: center;
		margin: 0 3px;
		position: relative;
		padding-top: 50px;
		.box_sizing();
		
		h2 {
			font-size: 25px;
			text-transform: uppercase;
		}
		
		p {
			font-size: 18px;
			color: rgba(0,0,0,0.6);
			margin: 15px 0;
		}
				
		&:before {
			content: '';
			width: 50px;
			height: 1px;
			background: #02408a;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin: auto;
			
			display: none;
		}
		
		&:nth-child(1) {
			background: url('/css/layout/icons/internet.png') no-repeat center 0; /*35px*/
		}
		
		&:nth-child(2) {
			background: url('/css/layout/icons/tv.png') no-repeat center 0;
		}
		
		&:nth-child(3) {
			background: url('/css/layout/icons/mobil.png') no-repeat center 0;
		}
		
		&:nth-child(4) {
			background: url('/css/layout/icons/klientska_zona.png') no-repeat center 0;
			
			&:before { background: #c00c14; }
		}
	}
}

.kontakt-list {
	width: 100%;
	float: left;
	margin: 62px 0 0;
	text-align: center;
	
	li {
		display: inline-block;	
		width: 315px;
		height: 235px;
		text-align: center;
		margin: 0 22px;
		position: relative;
		vertical-align: top;
		padding-top: 70px;
		.box_sizing();
		
		h2 {
			font-size: 18px;
			text-transform: uppercase;
		}
		
		p {
			font-size: 18px;
			line-height: 1.5;
			color: rgba(0,0,0,0.6);
			margin: 15px 0;
		}
		
		a { color: inherit; }
		
		strong {
			font-size: 40px;
			font-weight: bold;
		}
				
		&:before {
			content: '';
			width: 50px;
			height: 1px;
			background: #003e8a;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin: auto;
			
			display: none;
		}
		
		&:nth-child(1) {
			background: url('/css/layout/icons/blue-mobile-icon.png') no-repeat center 0; /*35px*/
		}
		
		&:nth-child(2) {
			background: url('/css/layout/icons/blue-mail-icon.png') no-repeat center 0;
		}
		
		&:nth-child(3) {
			background: url('/css/layout/icons/red-light-icon.png') no-repeat center 0;
			
			a, h2, strong { color: #c00c14; }
		}
	}
	
	&.podanet {
		li:nth-child(2) { background: url('/css/layout/icons/tablet-blue.png') no-repeat center 0; }	
		li:nth-child(3) { background: url('/css/layout/icons/pc-blue.png') no-repeat center 0; 
			h2{ color: #003e8a; } 
		}
	}
}

.mt200{ margin-top: 200px !important; }
.mb10 { margin-bottom: 10px !important; }
.mt10 { margin-top: 10px !important; }

p {
	font-size: 18px;
	color: rgba(0,0,0,0.6);
	line-height: 1.4;
}

.h175 { height: 175px !important; }
.relative50 {
	top: 61px;
}

.button {
	text-decoration: none;
	display: block;
	width: 225px;
	height: 55px;
	padding-top: 18px;
	text-align: center;
	line-height: normal !important;
	font-size: 18px;
	color: #003e89;
	background: #fff;
	border: 1px solid #003e89;
	cursor: pointer;
	margin: 25px auto 0;
	font-family: 'IBM Plex Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	.box_sizing();
	/*.box-shadow(0 10px 10px rgba(102,126,149,0.25));*/
	.transition(0.3s);
	.radius(36px);
	
	&.wider { width: 300px; }
	&.huge { width: 380px; }
	
	&.smaller{
		width: 135px;
		height: 35px;
		padding-top: 9px;
		margin-top: 10px;
	}
	
	&.circle{
		width: 55px;
		font-size: 34px;
		font-weight: 100;
		letter-spacing: inherit !important;
		padding-top: 10px;
		.radius(100%);
	}
	
	&.blue {
		background: #003e89;
		color: #fff;
		border-color: #003e89;
	}
	

}

input.button {
	padding-top: 2px !important;
}

.clear { clear: both; }

.sll {
	width: 49%;
	float: left;
	position: relative;
	display: table;
	height: 100%;
	margin: 0 auto;
	p{
		display: table-cell;
		vertical-align: middle;
	}
}

.article_text{
	.photogallery{
		.container1{
			// float: left;
			width: 100%;
			.wrapper{
				width: 100%;
				float: left;
				text-align: center;

				.sll3 {
					display: inline-block;
					vertical-align: top
	
				}
			}
		}
		.photo{
			margin-top: 7.5%;
			max-width: 100%;
			max-height: 330px;
		}
	}
}

.photogallery{
	.container1{
		float: left;
		.wrapper{
			width: 100%;
			float: left;
			.sll3 {
				display: inline-block;
				vertical-align: top

			}
		}
	}
	.photo{
		margin-top: 7.5%;
		max-width: 100%;
	}
}
.mt-50 {
	margin-top: -50px;
	&.dark-background{
		p{
			color: white;
		}
	}
}
.sll3, .sll5{
	width: 30%;
	float: left;
	position: relative;
	text-align: left;
	padding: 0 1.5%;
	margin-top: 50px;
	h3{
		// margin-bottom: 30px;
		font-size: 15px;
		// position: absolute;
		// bottom: 20px;
	}
	p{
		text-align: left !important;
	}
}
.sll5 {
	width: 20%;
	margin: 0;
	padding: 0;
	// padding: 15px;
	float: left;
	position: relative;
	text-align: left;
	display: inline-block;
}
.highlight{
	color: @green;
	font-size: 26.5px;
}
.slr {
	width: 49%;
	float: right;
	position: relative;
	display: table;
	height: 100%;
	margin: 0 auto;


	p, span{
		display: table-cell;
		vertical-align: middle;
	}

}

.promo {
	width: 100%;
	height: 265px;
	float: left;
	margin: 20px 0 40px;
	background: url('/uploaded/promo.jpg') no-repeat center center;
	background-size: contain;
	position: relative;
	
	.button {
		position: absolute;
		right: 0;
		bottom: 0;
		color: #be000a;
	}
}

.article {
	h3 {
		margin-bottom: 25px;
		text-transform: uppercase;
		line-height: 1.2;
		
		a {
			color: inherit;
		}
	}
	
	p {
		line-height: 1.3;
	}
}

.lh1-5 { line-height: 1.5; }
h1 {
	text-align: center !important;
}
.text-right {
	text-align: right;
}
footer {
	width: 100%;
	float: left;
	border-top: 1px solid #f1f3f4;
	margin-top: 50px;
	.box_sizing();
}

#logo {
	width: 187px;
	height: 43px;
	text-decoration: none;
	display: block;
	background: url('/css/layout/logo/logo_white.svg');
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 7px;
	margin-left: 25px;
	float: left;
}

.on-mobile { display: none; }
.contacts{
	font-style: normal !important;
	margin-top: 50px;
	
	b {
		text-decoration: none;
		font-style: normal;
		color: #000;
	}
	a{
		font-size: 18px;
		color: rgba(0, 0, 0, 0.6);
		line-height: 1.4;
		text-decoration: none;
		font-style: normal;
	}
}
.contact-map{
	width: 100%;
}
.btn-conci{
	margin-top: 40px;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	padding: 7px 12px;
	border-radius: 24px;
	font-size: 16.5px;
	border: 1px solid #fff;
	position: relative;
	z-index: 10 !important;
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	min-width: 130px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	&:hover, &:focus, &:active{
		background-color: @green;
		color: #fff;
		border-color: @green;
		text-decoration: none;
	}
	&.btn-contact{
		text-transform: lowercase;
		font-weight: 700;
		color: @green;
		border-color: @green;
		//text-decoration: underline;
		&:hover, &:focus, &:active{
			color: #fff;
		}
	}
}
#header {
	height: 300px;
}
#header, #header_adopt {
	height: 60px;
	background: @black;
	width: 100%;
	position: relative;
	z-index: 10; 
	float: left;
	-webkit-box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
	-ms-box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
	box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
	
	&.banner_top{
		position: absolute !important;
		top: 0;
	}
	.header_uvod{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 225px;
		height: 32px;
		background-image: url('/css/layout/logo/logo_white.svg');
		background-repeat: no-repeat;
		background-position: center top;
		padding-top: 50px;
		text-align: center;
		//margin-top: 80px;
		span{
			color: #fff;
			display: block;
			margin: 0 0 43px 0;
			font-size: 13.5px;
		}

	}
}
address{
	font-style: normal;
}
.btn-conci.black ,#ContactForm1_send{
	margin-top: 40px;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	padding: 7px 12px;
	border-radius: 24px;
	font-size: 16.5px;
	border: 1px solid @black;
	color: @black;
	text-decoration: none;
	background-color: transparent;
	min-width: 130px;
	height: 40px;
	line-height: 32px;
	&:hover, &:focus, &:active{
		background-color: @green;
		border-color: @green;
		color: white !important;
		text-decoration: none;
	}
}
#ContactForm1_send{
	margin-top: 30px;
}
#header_adopt.banner {
	height: 1118px;
	/*background: url('/css/layout/banner.jpg') no-repeat center center;*/
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}

#header {
	.transition(0.3);
	

}

@keyframes fade-in-move-down {
	0% {
	  opacity: 1;
	  transform: translateY(-1rem);
	}
	50% {
	  opacity: 1;
	  transform: translateY(0);
	}
	
	100% {
		opacity: 1;
		transform: translateY(-1rem);
	  }
  }

.scrollMobile {
	display: none;
	color: #fff;
	font-style: normal;
	animation: fade-in-move-down 0.9s infinite;
	font-size: 50px;
	width: 100px;
	height: 20px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

@media (max-width: 1500px) {
	.blur-box {
		margin-top: 170px !important;
	}
}

#navbar { margin-right: 25px; }
#header{
	position: fixed;
}
.navbar {
	float: right;
	display: block;
	.navbar-header {
		display: none;
	}
	
	#navmenu {
		list-style: none;
		height: 60px;
		
		li {
			&.menu_active{
				a{
					border-color: @green;
					//color: @green;

				}
				// &.sp_5{
				// 	#sp5{
				// 		border-color: @green;
				// 		//color: @green;
				// 	}

				// }
			}
			float: left;
			/*height: 80px;
			line-height: 80px;*/
			height: 40px;
			padding: 10px 0;
			// #sp5{
			// 	border-color: #fff;
			// 	&:hover{
			// 		border-color: @green;
			// 	}
			// }
			a {
				text-decoration: none;
				margin: 0 10px;
				color: #fff;
				line-height: 40px;
				display: block;
				position: relative;
				font-size: 15px;
				font-family: 'IBM Plex Sans', sans-serif;
				padding: 0px 10px;
				border-radius: 24px;
				border: 1px solid transparent;
				//text-transform: uppercase;
				.transition(0.3s);

				&:hover{
					border: 1px solid @green;

				}
				
				/*&:after {
					content: '';
					width: 0%;
					height: 2px;
					background: #bc0006;
					position: absolute;
					left: 0;
					top: 0;
					.transition(0.3s);
				}*/

				/*&:hover {
					&:after {
						width: 97%;
					}
				}*/

				&#sp22 {
					font-size: 0;
					width: 20px;
					position: relative;

					&:before {
						content: '';
						width: 100%;
						height: 50px;
						background: url('/css/layout/icons/search.png') no-repeat center center;
						background-size: contain;
						position: absolute;
						left: 0;
						top: 0;
						bottom: 0;
						margin: auto;
					}
				}
			}
			
			&:last-child a {
				margin-right: 0;
			}
			
			&.menu_active {
				a:after { width: 97%; }
			}
		}
	}
}

footer {

	padding: 15px 0;
	.copyright { 
		width: 100%; 
		text-align: center;
		font-size: 14px;
		line-height: 100%;
		
		a {
			color: inherit;
		}
	}
	
	.wrapper { max-width: 1000px; }
	
	ul {
		width: 250px;
		float: left;
		list-style: none;
		
		li {
			margin-bottom: 5px;
			
			a {
				font-size: 16px;
				font-family: 'IBM Plex Sans', sans-serif;
				text-decoration: none;
				color: rgba(0,0,0,0.6);
				text-transform: uppercase;
				
				&:hover { text-decoration: underline; }
			}
			
			&.main {
				font-size: 18px;
				color: #000;
				text-transform: uppercase;
				font-family: 'IBM Plex Sans', sans-serif;
				margin-bottom: 15px;
			}
		}
	}
} 

/*.autocomplete{
	border: 1px solid rgba(0, 0, 0, 0.6);
	width: 302px;
	padding: 10px;
	margin: 30px 0 5px 0;
	font-size: 18px;
	transition: .2s;
	-webkit-transition: .2s; 
	-moz-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;

	&:focus{
		outline: none;
		border-color: #295c9c;

	}
	&:hover{
		border-color: #295c9c;
	}
}
*/

.auto_search_result{
	border: 1px solid #295c9c;
	background-color: #295c9c;
	color: #fff;
	.search_line{
		height: 30px;
		cursor: pointer;
		line-height: 30px;
		position: relative;
		font-size: 16px;
		text-transform: initial;
		text-align: left;
		padding: 0 20px;
		transition: .2s;
		-webkit-transition: .2s;
		-moz-transition: .2s;
		-o-transition: .2s;
		-ms-transition: .2s;

		/*&:hover, &:focus{
			background-color: #295c9c;
			color: #fff;
			&:after{
				content: "\f002";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: #fff;
				position: absolute;
				right: 10px;


			}
		}*/
	}
}
.fstBox {
	position:fixed;
	top:0;
	left:0;
	z-index:10000;
	padding: 5px 10px;
	&.error{
		color:#a94442;
		background-color:#e22f2f !important;
		border-color:#e22f2f !important;
		hr{
			border-top-color:#e4b9c0
		}
		.alert-link{
			color:#843534
		}
		& .fstBox_ico:before{
			content: "\f00d" !important;
			font-family: 'awesome';
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
		}
	}

	&.ok {
		color:#3c763d;
		background-color:#dff0d8;
		border-color:#d6e9c6;
		hr{
			border-top-color:#c9e2b3;
		}
		.alert-link{
			color:#2b542c
		}
		& .fstBox_ico:before{
			content: "\f05d";
			font-family: 'awesome';
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
		}

	}

	.fstBox_ico {
		display:inline-block;
		width: 20px;
		height: 20px;
		text-align: left;
		padding-right: 10px;
		float: left;
		line-height: 20px;
	}
	.fstBox_content {
		display:inline-block;
		width: auto;
		text-align: left;
		float: left;

	}
}

.dropShadow {
	z-index: 100;
	-webkit-box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
	-moz-box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
	-ms-box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
	box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left !important;
}
.mainImg {
	width: 100%;
	height: 700px;
	float: left;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	background-attachment: scroll;
	float: left;
	
	&.bgposbottom {
		background-position: center bottom !important;
	}
	
	.blackRow { 
		width: 100%;
		height: 200px;
		position: absolute;
		left: 0;
		top: 0;
		background: #000;
		background: rgba(0,0,0,0.5);
		
		ul {
			width: 100%;
			text-align: center;
			height: 100%;
			
			li {
				display: inline-block;
				width: 225px;
				height: 100%;
				margin: 0 5px;
				position: relative;
				.box_sizing();
				
				&:before {
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 27px 25px 0 25px;
					border-color: #ffffff transparent transparent transparent;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					margin: auto;
					opacity: 0;
					.transition(0.35s);
				}
				
				&:nth-child(1) { background: url('/css/layout/icons/zeme-bila.png') no-repeat center 50px; }
				&:nth-child(2) { background: url('/css/layout/icons/tv-bila.png') no-repeat center 50px; }
				&:nth-child(3) { background: url('/css/layout/icons/mobile-bila.png') no-repeat center 50px; }
				

			}
		}
	}
	
	.bottomText, .middleText {
		width: 100%;
		height: 500px;
		float: left;
		margin-top: 200px;
		
		.title {
			font-size: 60px;
			color: #fff;
			text-align: center;
			margin-top: 160px;
			text-transform: uppercase;
			font-family: 'IBM Plex Sans', sans-serif;
			
			small {
				display: block;
				font-size: 25px;
				font-family: 'IBM Plex Sans', sans-serif;
				margin-top: 15px;
			}
		}
		

	}
	
	.middleText {
		height: auto;
		max-width: 700px;
		float: none;
		margin: 250px auto 0;
		
		.title { margin-top: 0; }
	}
}


.icons-list {
	text-align: center;
	
	li {
		display: inline-block;
		vertical-align: top;
		max-width: 250px;
		margin: 0 20px;
		
		a {
			color: #003987;
		}
		
		img {
			display: block;
			margin: 20px auto;
		}
		
		strong {
			font-size: 18px;
			color: #003987;
			text-transform: uppercase;
			margin-bottom: 20px;
			display: block;
		}
	}
}
 
.full-imgs {
	width: 100%;
	float: left;
	margin: 50px 0;
	
	.fImg {
		width: 25%;
		float: left;
		position: relative;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		
		&:before {
			content: '';
			display: block;
			padding-top: 75%;
		}
		
		.abs {
			position: absolute;
			top: 10px;
			left: 0;
			right: 0;
			width: 100%;
			
			.letter {
				display: block;
				text-align: center;
				color: #fff;
				font-size: 60px;
				font-weight: 700;
				margin-bottom: 10px;
			}
			
			strong {
				display: block;
				text-align: center;
				color: #fff;
				text-transform: uppercase;
				font-size: 18px;
			}
			
			p {
				color: #fff;
				color: rgba(255,255,255,0.9);
				text-align: center;
				font-size: 18px;
				max-width: 340px;
				margin: 10px auto;
				padding: 0 25px;
				.box_sizing();
			}
		}
	}
}

@media (min-width: 1350px) {
	.fImg .abs {
		top: 30px !important;
	}
}

@media (min-width: 1600px) {
	.fImg .abs {
		top: 50px !important;
	}
}

@media (min-width: 1800px) {
	.fImg .abs {
		top: 90px !important;
	} 
}

input {
	outline: none !important;
}

.align-left { text-align: left !important; }
.bold { font-family: 'IBM Plex Sans', sans-serif; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt50 { margin-top: 50px !important; }
.big { font-size: 50px !important; }
.fs40 { font-size: 40px !important; }
.lowercase { text-transform: lowercase !important; }
.black { color: #000 !important; }
.uppercase { text-transform: uppercase; }
.txt-center { text-align: center; }
.bgPosBottom { background-position: center bottom; }
.bgPosTop { background-position: center top; }
.row{
	display: block;
	&:after, &:before{
		display: table;
		box-sizing: border-box;
	}
	&:after{
		clear: both;
		content: " ";

	}
	&.row-h{
		height: 280px;
	}
}
.text-center {
	text-align: center !important;
	.wrapper h1 {
		margin-bottom: 0;
	}
	.wrapper h2{
		font-size: 22px;
	}
}
.article_text {
	// float: left;
}
.article_text, .wrapper {
	width: 100%;
	max-width: 1140px;
	// margin: 50px auto;
	margin: 0px auto;
	//float: left;
	
	h2 {
		margin-bottom: 10px;
		font-size: 32px;
		text-align: center;

	}
	
	p {
		margin-bottom: 15px;
		line-height: 1.4;
		text-align: justify;
	}
	
	ul, ol {
		margin: 20px 0 30px 0;
		
		li {
			list-style-position: inside;
			font-size: 18px;
			color: rgba(0, 0, 0, 0.6);
			margin-bottom: 10px;
			// list-style-type: none;
			margin-left: 30px; 
		}
		// li:before {
		// 	content: "\f054"; /* FontAwesome Unicode */
		// 	font-family: FontAwesome;
		// 	display: inline-block;
		// 	margin-left: -1.3em; /* same as padding-left set on li */
		// 	width: 1.3em; /* same as padding-left set on li */
		// }
	}
	
	a {
		color: #295c9c;
	}
	
	h1 {
		margin-bottom: 20px;
		font-size: 40px;
	}
}
#poptavka{
	h3{
		text-align: center;
		margin-top: 30px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}
	.input{
		width: 100%;
		padding: 5px 7.5px;
		margin: 15px 0px;
		height: 40px;
	}
	.w100, .w75, .w50, .w25{
		display: inline-block;
		margin: 0 1%;
	}
	.w100{
		width: 98%;
	}
	.w75{
		width: 73%;

	}
	.w50{
		width: 48%;

	}
	.w25{
		width: 23%;

	}
}
.smaller-wrapper {
	width: 100%;
	max-width: 775px;
	margin: 0 auto;
	
	p {
		label {
			margin-bottom: 15px;
			width: 120px;
			font-weight: bold;
			display: inline-block;
		}
	}
	
	form {
		max-width: 580px;
		margin: 40px auto;
		
		.input {
			width: 280px;
			margin: 0 !important;
			margin-bottom: 20px !important;
			.box_sizing();
		}
		
		#ContactFormText0Value {
			width: 100%;
		}
		
		#ContactFormText1Value {
			float: right;
		}
	}
}

.tarifs {
	width: 100%;
	float: left;
} 

.tarifBox{
	width: 49%;
	height: 675px;
	float: left;
	padding: 20px 25px;
	position: relative;
	.box_sizing();
	.box-shadow(0 10px 10px rgba(102,126,149,0.25));
	
	.abs { 
		position: absolute;
		bottom: 170px;
		font-size: 15px;
		width: 100%;
		text-align: center;
		max-width: 479px;
		
		a {
		color: inherit;
		}
	}
	
	.title {
		color: #003e89;
		font-size: 25px;
		font-family: 'IBM Plex Sans', sans-serif;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 50px;
		position: relative;
		
		span {
			position: absolute;
			top: -20px;
			font-size: 15px;
			font-family: 'IBM Plex Sans', sans-serif;
		}
	}
	
	.row{
		width: 100%;
		height: 50px;
		border-top: 1px solid #d9d9d9;
		float: left;
		font-size: 18px;
		font-family:'IBM Plex Sans', sans-serif;
		line-height: 50px;
		
		img {
			position: relative;
			top: 5px;
		}
		
		&:last-child { border-bottom: 1px solid #d9d9d9; }
		
		label {
			color: #666666;
			font-size: 15px;
			width: 215px;
			display: inline-block;
			line-height: 50px;
			font-family:'IBM Plex Sans', sans-serif;
		}
	}
	

}


.tarifs.box-3, .tarifs.box-1 {
	text-align: center;
	
	.tarifBox {
		width: 30%;
		height: 460px;
		text-align: left;
		float: none !important;
		display: inline-block !important;
		margin: 0 15px;
		margin-bottom: 30px;
		
		.price {
			padding-top: 20px;
			margin-top: 0;
			margin-bottom: 20px;
			border-top: 1px solid #d9d9d9;
		}
		
		.back {
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: #fff;
			padding: 20px;
			height: 100%;
			opacity: 1;
			pointer-events: all;
			.transition(0.3s);
			.box_sizing();
			&.hide {
				opacity: 0;
				pointer-events: none;
			}
			
			.close {
				width: 28px;
				height: 28px;
				background: url('/css/layout/close.png');
				position: absolute;
				right: 10px;
				top: 0px;
				cursor: pointer;
			}
			
			ul {
				margin-top: 15px;
				margin-bottom: 15px;
				list-style: inside;
				
				li{
					font-size: 15px;
					color: #969696;
					margin: 10px 0;
				}
			}
		}
		
		label {
			width: 120px;
		}
		
		.row {
			a, strong, img { 
				float: right;
			}
			
			img { top: 13px !important; }
		}
		
		.title {
			margin-bottom: 10px;
		}
		
		.link {
			width: 100%;
			text-align: center;
			display: block;
			margin-top: 10px;
			color: rgba(0,0,0,0.6);
		}
	}
}

.tarifs.hauto {
	text-align: justify;
	
	.tarifBox {
		height: auto;
		float: none;
		margin-bottom: 35px;
		display: inline-block;
		vertical-align: top;
		
		img {
			max-width: 100%;
			height: auto;
			max-height: 270px;
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}
}

.left { float: left !important; }
.right { float: right !important; }

.tarifs.box-1 {
	.tarifBox {
		width: 100%;
		margin: 0;
		height: 520px;
		
		label {
			width: 200px;
		}
	}
}

.price {
	color: #003e89;
	font-size: 60px;
	font-family: 'IBM Plex Sans', sans-serif;
	text-align: center;
	margin-top: 50px;
	position: relative;
	width: 100%;
	float: left;
	
	span {
		color: #000;
		font-size: 18px;
		font-family:'IBM Plex Sans', sans-serif;
		text-transform: uppercase;
		position: relative;
		top: -10px;
		left: 6px;
	}
	
	&.spanTop span { 
		position: static;
		display: block;
	}
}

.h640 { 
	/*height: 640px; */
	
	.price {
		margin-top: 0;
		position: absolute;
		left: 0;
		bottom: 20px;
	}
}

ul.bullets { 
	list-style: none; 
	
	li{
		position: relative;
		padding-left: 15px;
		line-height: 1.3;
		font-size: 18px;
		color: rgba(0, 0, 0, 0.6);
		
		&:before {
			content: '';
			width: 6px;
			height: 6px;
			background: #003e89;
			position: absolute;
			top: 8px;
			left: 0;
			.radius(100%);
		}
	}
}

.no-relative { position: static !important; }

.blok {
	width: 96%;
	height: 400px;
	margin: 2% auto;
	background-repeat: no-repeat;
	background-position: center center;
	
	&.h570 { height: 570px; }
	&.small { height: 177px; }
	
	h2 {
		font-size: 25px;
		font-family:'IBM Plex Sans', sans-serif;
		color: #fff;
		margin-top: 135px;
		text-align: center;
		text-transform: uppercase;
		font-weight: normal;
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
	
	p {
		width: 100%;
		max-width: 700px;
		margin: 30px auto;
		text-align: center;
		color: rgba(255,255,255,0.9);
	}
	
	&.more-text {

		h2 {
			margin-top: 60px;
		}
	}
	
	a {
		color: inherit;
	}
	
	.wrap {
		width: 100%;
		max-width: 680px;
		margin: 0 auto;
		text-align: left;
	}
	
	ol, ul {
		font-size: 18px;
		color: rgba(255,255,255,0.9) !important;
		line-height: 1.3;
		list-style: inside decimal;
		
		li {
			color: inherit !important;
			margin-bottom: 0 !important;
		}
	}
	
	ul {
		list-style: inside disc;
	}
	
	.wideBox {
		width: 45%;
		height: 175px; 
		float: left;
		padding-top: 35px;
		border-top: 1px solid rgba(255,255,255,0.3);
		.box_sizing();
		
		.title {
			font-size: 25px;
			color: #fff;
			font-family:'IBM Plex Sans', sans-serif;
			text-transform: uppercase;
		}
		
		.row {
			width: 100%;
			float: left;
			height: 50px;
			line-height: 50px;
			font-size: 18px;
			color: rgba(255,255,255,1);
			font-family:'IBM Plex Sans', sans-serif;
			
			label {
				width: 250px;
				display: inline-block;
				font-size: 18px;
				color: rgba(255,255,255,0.9);
				font-family:'IBM Plex Sans', sans-serif;
			}
		}
	}
}

.right { float: right !important; }
.awesome { font-family: 'awesome'; }

.drobeckova {
	width: 100%;
	height: 45px;
	background: rgba(0,0,0,0.3);
	position: absolute;
	overflow: hidden;
	top: 80px;
	left: 0; 
	line-height: 45px;
	color: #fff;
	padding-left: 25px;
	font-weight: 100;
	opacity: 1;
	.box_sizing();
	
	&.hide {
		opacity: 0;
	}
	
	&.no-bg { background: none; }
	
	.awesome {
		margin: 0 10px;
	}
	
	a {
		text-decoration: none;
		color: #fff;
	}
}

.faq {
	width: 100%;
	float: left;
	
	.w100p {
		list-style: none;
	}
	
	.mainTitle {
		font-size: 25px;
		color: #003e89;
		font-family:'IBM Plex Sans', sans-serif;
		text-transform: uppercase;
	}
	
	.fRow, .fRowSub {
		width: 100%;
		border-top: 1px solid #d9d9d9;
		padding-top: 25px;
		padding-bottom: 25px;
		overflow: hidden;
		max-height: 80px;
		.box_sizing();
		.transition(0.2s);
		
		&.bottomLine {
			border-bottom: 1px solid #d9d9d9;
		}
		
		.fRowTitle {
			font-size: 18px;
			font-family:'IBM Plex Sans', sans-serif;
			text-transform: uppercase;
			cursor: pointer;
			position: relative;
			padding-right: 80px;
			width: 100%;
			.transition(0.3s);
			.box_sizing();
			
			.circle {
				margin-top: 0;
				position: absolute;
				right: 10px;
				top: -13px;
				/*top: 0;
				bottom: 0;
				margin: auto;*/
			}
			
			&:hover { color: #003e89; }
		}
		
		p, ul, ol, .hide {
			width: 90%;
			opacity: 0;
			pointer-events: none;
			margin-top: 15px;
			.transition(0.3s);
		}
		
		.fRow.active .fRow p {
			opacity: 0 !important;
			pointer-events: none !important;
		}
		
		&.active {
			max-height: 3500px;
			
			.fRowTitle { color: #003e89 }
			
			p, ul, ol, .hide { 
				opacity: 1;
				pointer-events: all;
			}
			
			.fRow.active .fRow.active p {
				opacity: 1 !important;
				pointer-events: all !important;
			}
		}
	}
	
	.w100p {
		.fRow {
			border-top: 0;
			padding-top: 15px;
			padding-bottom: 15px;
			max-height: 43px;
			
			p {
				opacity: 0 !important;
				pointer-events: none !important;
			}
			
			&.active {
				max-height: 500px;
				
				p {
					opacity: 1 !important;
					pointer-events: all !important;
				}
			}
			
			.button.circle {
				width: 30px;
				height: 30px;
				padding-top: 7px;
				font-size: 18px;
				display: none;
				.box-shadow(0 2px 2px rgba(102,126,149,0.25));
				
			}
		}
	}
}

.blue { color: #003e89; }

body.other-pages {
	
}

footer {
	background: @black;
	position: relative;
	li.main {
		color: #fff !important;
	}
	li a, .copyright{
		color: rgba(255,255,255,0.6) !important;
	}
	.fb-icon {
		position: absolute;
		width: 30px;
		height: auto;
		left: 10px;
		top: 7.5px;
		fill: white;
		.transition(.3s);
		cursor: pointer;
		&:hover{
			fill: #30C742;
		}
	}
}

.sluzba-buttons {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 0;
	
	li {
		display: inline-block;
		list-style: none;
		border-right: 3px solid #fff;
		
		a.button {
			background: #003e89;
			color: #fff;
			padding-top: 19px !important;
			.box_sizing();
			.radius(0);
		}
		

	}
	
	&.years {
		white-space: nowrap;
		margin-top: 50px;
		
		li {
			width: 170px;
			
			a { 
				width: inherit;
			}
		}
	}
}

.sluzba-section {
	width: 100%;
	min-height: 200px;
	float: left;
	margin-bottom: 50px;
	padding-top: 25px;
	position: relative;
	z-index: 10;
}

.none { display: none; }

.mobileTarifs {
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 30px;
	
	.mobileT {
		width: 200px;
		height: 700px;
		display: inline-block;
		padding: 20px 20px;
		margin: 0 8px;
		position: relative;
		.box_sizing();
		.box-shadow(0 10px 10px rgba(102,126,149,0.25));
		
		.title {
			color: #003e89;
			font-size: 25px;
			font-family:'IBM Plex Sans', sans-serif;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 10px;
			position: relative;
			width: 100%;
			float: left;
			
			span {
				position: absolute;
				top: -20px;
				font-size: 15px;
				font-family:'IBM Plex Sans', sans-serif;
			}
		}
		
		.button {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			background: #003e89;
			color: #fff; 
			.radius(0);
		}
		
		.row {
			width: 100%;
			height: 50px; 
			border-top: 1px solid #d9d9d9;
			float: left;
			font-size: 18px;
			font-family:'IBM Plex Sans', sans-serif;
			line-height: 50px;
			text-align: left;
			position: relative;
			
			img {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				margin: auto;
			}
			
			&.bottomLine { border-bottom: 1px solid #d9d9d9; }
			
			label {
				color: #666666;
				font-size: 15px;
				width: 100px;
				display: inline-block;
				line-height: 1.2;
				text-align: left;
				margin-top: 8px;
				font-family:'IBM Plex Sans', sans-serif;
			} 
			
			strong {
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				right: 0;
			}
		}
	}
}

strong.bigger { font-size: 25px; }

.borderTopBoxes {
	width: 100%;
	float: left;
	text-align: center; 
	margin: 25px 0;
	vertical-align: top;
	
	.borderTopBox {
		width: 140px;
		height: 105px;
		padding: 0 5px;
		display: inline-block;
		padding-top: 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		color: rgba(255, 255, 255, 0.6);
		text-align: center;
		font-size: 18px;
		vertical-align: top;
		margin: 0 10px;
		.box_sizing();
		
		strong {
			display: block;
			width: 100%;
			text-align: center;
			color: #fff;
			margin: 7px 0 0;
			font-size: 25px;
		}
		
		small {
			font-size: 15px;
			color: inherit;
		}
	}
}

.load_google_map, #load_google_map2 {
	width: 100%;
	padding: 20px;
	padding-top: 0;
	margin-bottom: 25px;
	background: #fff;
	.box_sizing();
	.box-shadow(0 10px 10px rgba(102,126,149,0.25));
}

#map_canvas, #map_canvas2, #map_canvas3 {
	width: 100%;
	height: 600px;	
}

.wholeBox {
	width: 100%; 
	height: 805px;
	float: left;
	margin-bottom: 25px;
	padding: 20px;
	padding-bottom: 0;
	background: #fff;
	position: relative;
	.box_sizing();
	.box-shadow(0 10px 10px rgba(102,126,149,0.25));
	 
	table {
		width: 100%;
		border-collapse: collapse;
		margin-top: 25px;
		
		td {
			height: 50px;
			border-top: 1px solid #d9d9d9;
			vertical-align: middle;
			font-size: 15px;
			color: rgba(0, 0, 0, 0.6);
			
			strong {
				color: #000;
				font-size: 18px;
			}
		}
		
		tr td:nth-child(1) { width: 420px; }
		tr td:nth-child(2), tr td:nth-child(4) { width: 150px; text-align: center; }
		tr td:nth-child(3) { width: 70px; text-align: center; }
	}
	
	.price {
		position: absolute;
		pointer-events: none;
	}
}

.abs-bottom {
	position: absolute;
	left: 0;
	right: 0;  
	margin: auto;
	bottom: 0;
}

.sl30 {
	width: 35%;
	float: left;
}

.timeline {
	width: 100%; 
	height: 100%;
	min-height: 200px;
	position: relative;
	float: left;
	margin-top: 50px;
	
	&:before {
		content: '';
		width: 1px;
		height: 100%;
		height: calc(~"100% - 50px");
		background: #e5e5e5;
		position: absolute;
		left: 0; 
		right: 0;
		top: 0;
		margin: auto;	
	}
	
	.half {
		width: 50%;
		float: left;
		position: relative;
		text-align: right;
		padding: 0 40px;
		.box_sizing();
		
		.time {
			width: 100%;
			margin-bottom: 90px;
		}
		
		.year {
			font-size: 40px;
			color: #003987;
			font-weight: bold;
			position: relative;
			cursor: pointer;
			margin-bottom: 10px;
			.transition(0.3s);
			
			&:after {
				content: '';
				width: 11px; 
				height: 11px;
				background: #b90000;
				position: absolute;
				top: 14px;
				right: -46px;
				.radius(100%);
			}
		}
		
		.time:hover {
			.year { color: #be000a; }
		}
		
		&:nth-child(2) {
			padding-top: 80px;
			text-align: left;
			
			.year:after { 
				right: auto;
				left: -45px;
			}
		}
	}
}

.mb0 { margin-bottom: 0 !important; }
.mb25 { margin-bottom: 25px !important; }

.wide { 
	width: 800px; 
	margin-top: 50px;
}

article {
	width: 100%;
	float: left;
	border-bottom: 1px solid #d9d9d9;
	padding-top: 10px;
	overflow: hidden;
	max-height: 230px;
	.transition(0.3s);
	
	h2 a {
		text-decoration: none;
		color: #30c742;
		text-transform: uppercase;
		.transition(0.3s);
	}
	
	h2 {
		margin-bottom: 15px;
		font-size: 28px !important;
	}
	
	.created {
		width: 100px;
		height: 100%;
		float: left;
		text-align: center;
		margin-top: 20px;
		.transition(0.3s);
		
		strong {
			display: block;
			font-size: 24px;
			color: #30c742;
			font-weight: bold;
			.transition(0.3s);
		}
		
		small {
			display: block;
			font-size: 15px;
			font-weight: bold;
			color: rgba(0,0,0,0.5);
		}
	}
	
	img {
		float: left;
		max-width: 200px;
		height: auto;
		margin-bottom: 10px;
		border-radius: 5px;
	}
	
	.actual-text {
		width: 950px;
		width: calc(~"100% - 150px");
		float: left;
		position: relative;
		
		a {
			color: #30c742;
		}
		
		table {
			margin: 25px 0;
			border-spacing: 0;
			
			th {
				background-color: #969696;
				border-left: solid 1px #aaa;
				border-bottom: solid 1px #aaa;
				font-weight: 500;
				color: white;
				
				strong {
					color: #fff !important;
				} 
			}
			
			td, th {
				padding: 10px;
				margin: 0px;
				font-size: 18px;
				color: rgba(0, 0, 0, 0.6);
				
				strong {
					color: inherit;
					font-size: inherit;
				}
				
				p {
					width: auto !important;
				}
			}
			
			caption {
				padding-bottom: 5px;
				font-size: 1.2em;
				font-weight: bold;
				text-align: center;
			}
			
			td {
				background-color: #ececec;
				border-left: solid 1px #f6f6f6;
				border-bottom: solid 1px #f6f6f6;  
			}
		}
	}
	
	.button.circle {
		position: absolute;
		right: 0;
		top: 0;
		margin-top: 20px !important;
		padding-top: 3px !important;
		border-color: #30c742;
		.transition(0.3s);
		
		&:hover {
			background: #30c742;
			color: #fff;
		}
	}
	
	p, h2 {
		width: 800px;
		text-align: right !important;
		width: calc(~"100% - 80px");
	}
	
	&.active {
		max-height: 5000px;
		.transition(0.3s);
		

	}
}

.smallest-wrapper {
	.input, textarea {
		margin: 0 auto 10px;
		display: block;
		float: left;
		width: 49.1%;
	}
	
	#ContactFormText1Value {
		float: right !important;
	}
	
	textarea {
		width: 100%;
	}
}

#items {
	table {
		margin: 25px 0; 
		border-spacing: 0;
		
		th {
			background-color: #969696;
			border-left: solid 1px #aaa;
			border-bottom: solid 1px #aaa;
			font-weight: 500;
			color: white;
			
			strong {
				color: #fff !important;
			}
		}
		
		td, th {
			padding: 10px;
			margin: 0px;
			font-size: 18px;
			color: rgba(0, 0, 0, 0.6);
			
			strong {
				color: inherit;
				font-size: inherit;
			}
			
			p {
				width: auto !important;
			}
		}
		
		caption {
			padding-bottom: 5px;
			font-size: 1.2em;
			font-weight: bold;
			text-align: center;
		}
		
		td {
			background-color: #ececec;
			border-left: solid 1px #f6f6f6;
			border-bottom: solid 1px #f6f6f6;
		}
	} 
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.button { line-height: 62px; }
	.button.circle { line-height: 2; }
	.mainImg .blackRow ul li a.button { line-height: 64px; }
	
	input.button {
		padding-top: 8px !important;
	}
}

#login-section {
	position: absolute; 
	right: 25px;
	bottom: 0;
	
	input {
		display: inline-block !important;
		margin-bottom: 40px;
	}
	
	a {
		color: #be000a;
		font-size: 13px;
		position: absolute;
		bottom: 15px;
		right: 351px;
	}
}  

.input, textarea, select.text {
	//width: 100%;
	margin: 15px 0px;
	height: 40px;
	line-height: 35px;
	border: 1px solid @light-grey;
	font-size: 18px;
	color: @light-grey;
	padding: 0 20px;
	margin-right: 1%;
	margin-left: 1%;
	background: rgb(255,255,255);
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	//background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 43%);
	//background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 43%);
	//background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 43%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 );
	.box_sizing();
	
	&.long {
		width: 100% !important;
	}
	&:focus, &:active {
		border-color: @green;
	}
	
	&.error {
		border-color: #d61212;
	}
}
.input{
	width: 50%;
}
#ContactFormText0Value, #ContactFormName {
	position: relative;
	float: left;
	width: 48%;
}
#ContactFormText1Value{
	margin-top: 15px;
	width: 98%;
}

select.text {
	width: 280px;
	background: rgb(234,234,234);
	background: url('/css/layout/icons/arrow.png'), -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 43%);
	background: url('/css/layout/icons/arrow.png'), -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 43%);
	background: url('/css/layout/icons/arrow.png'), linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 43%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 );
	background-position: right center;
	background-repeat: no-repeat;
	margin-right: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
}

textarea {
	height: 200px !important;
	resize: none;
	line-height: 1.5;
	padding-top: 10px;
	.box_sizing();
}

.contacts {
	.input {
		margin-right: 0;
	}
}

.findServices {
	opacity: 1;
	pointer-events: all;
	.transition(0.5s);
	
	input {
		display: inline-block !important;
		margin-bottom: 40px;
		margin-right: 5px !important;
		position: relative;
		top: -40px;
	}
	
	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
}

.w100 { width: 100px; }
.w100p { width: 100% !important; }

.bankovni-spojeni {
	width: 100%;
	height: 125px;
	float: left;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	list-style: none;
	text-align: center;
	margin-top: 30px;
	
	li {
		display: inline-block;
		margin: 0 45px;
		color: #8d8d8d;
		font-size: 18px;
		padding-top: 40px;
		.box_sizing();
		
		strong {
			color: #003987;
			display: block;
			margin-bottom: 7px;
			font-size: 18px;
		}
	}
}

.obchodnici-table {
	width: 100%;
	float: left;
	margin: 25px 0 20px;
	border-top: 1px solid #d9d9d9;
	border-collapse: collapse;
	
	tr {
		td {
			border-bottom: 1px solid #d9d9d9;
			padding: 10px 0;
			font-size: 18px;
			color: rgba(0,0,0,0.5);	
			
			strong {
				color: #000;
			}
			
			.blue {
				color: #003e89 !important;
			}
		}
		
		.txt-right { text-align: right; }
	}
	
	img {
		width: 65px;
		height: 65px;
		.radius(100%);
	}
}

.gm-style .gm-style-iw h3 {
	font-size: 21px;
	margin-bottom: 10px;
}

.gm-style-iw {
	label {
		display: inline-block;
		width: 150px;
		font-weight: bold;
	}
}

.white-places {
	width: 100%;
	height: 280px;
	background: #fff;
	float: left;
	position: relative;
	z-index: 999999;
	
	.button {
		display: inline-block !important; 
	}
	
	form {
		text-align: center;
	}
	
	.title {
		text-align: center;
		font-size: 60px;
	}
}

.h270 {
	height: 270px;
	background-attachment: scroll;
	
	.middleText {
		margin-top: 105px;
	}
}

hr {
	margin-bottom: 20px;
	background: #d9d9d9;
	border: 0;
	height: 1px;
}

.agree {
	input[type="checkbox"]:not(:checked),
	input[type="checkbox"]:checked {
	  position: absolute;
	  left: -9999px;
	}
	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label {
	  position: relative;
	  padding-left: 1.95em;
	  cursor: pointer;
	  float: right;
	  color: rgba(0,0,0,0.6);
	}
	
	/* checkbox aspect */
	input[type="checkbox"]:not(:checked) + label:before,
	input[type="checkbox"]:checked + label:before {
	  content: '';
	  position: absolute;
	  left: 0; top: 0;
	  width: 1.25em; height: 1.25em;
	  border: 1px solid #C6C6C6;
	  background: #fff;
	}
	/* checked mark aspect */
	input[type="checkbox"]:not(:checked) + label:after,
	input[type="checkbox"]:checked + label:after {
	  content: '\f00c';
	  font-family: 'awesome';
	  position: absolute; 
	  top: 6px; left: 5px;
	  font-size: 12px;
	  line-height: 0.8;
	  color: #003e89;
	  transition: all .2s;
	}
	/* checked mark aspect changes */
	input[type="checkbox"]:not(:checked) + label:after {
	  opacity: 0;
	  transform: scale(0);
	}
	input[type="checkbox"]:checked + label:after {
	  opacity: 1;
	  transform: scale(1);
	}
	/* disabled checkbox */
	input[type="checkbox"]:disabled:not(:checked) + label:before,
	input[type="checkbox"]:disabled:checked + label:before {
	  box-shadow: none;
	  border-color: #bbb;
	  background-color: #ddd;
	}
	input[type="checkbox"]:disabled:checked + label:after {
	  color: #999;
	}
	input[type="checkbox"]:disabled + label {
	  color: #aaa;
	}
	
	&.labels {
		input[type="checkbox"]:not(:checked) + label, input[type="checkbox"]:checked + label {
			float: left;
			margin-bottom: 10px;
			line-height: 1.3;
		}
	}
}

.searchPoda {
	opacity: 1;
	pointer-events: all;
	.transition(0.3s);
}

.searchPoda.hide {
	opacity: 0;
	pointer-events: none;
	.transition(0.3s);
}

.inline-button {
	.button {
		display: inline-block !important;
	}
}

.shadow-line {
	width: 100%;
	height: 10px;
	background: #fff;
	float: left;
	margin: 20px 0;
	-webkit-box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
	-ms-box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
	box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

.dblock { display: block !important; }
 
.load_contact_form.preloader {
	width: 100%;
	height: 200px;
	background: url('/css/layout/icons/bars.svg') no-repeat center center;
}

.contact_form {
	textarea {
		width: 98%;
	}
}
.table {
	margin: 25px 0;
	border-spacing: 0;
	border: 1px solid #aaa;
	
	th {
		background-color: #979797;
		border-left: solid 1px #aaa;
		border-bottom: solid 1px #aaa;
		font-weight: 500;
		color: white;
		
		strong {
			color: #fff !important;
		} 
	}
	
	td, th {
		padding: 10px;
		margin: 0px;
		font-size: 18px;
		color: rgba(0, 0, 0, 0.6);
		border-bottom: 1px solid #aaa;
		
		strong {
			color: inherit;
			font-size: inherit;
		}
		
		p {
			width: auto !important;
		}
	}
	
	caption {
		padding-bottom: 5px;
		font-size: 1.2em;
		font-weight: bold;
		text-align: center;
	}
	
	td {
		background-color: #ececec;
		border-left: solid 1px #f6f6f6;
		border-bottom: solid 1px #f6f6f6;  
	}
}

.boxes {
	width: 100%;
	float: left;
	margin-top: 50px;
	text-align: center;
	
	.pBox {
		width: 250px;
		height: 210px;
		background: #fff;
		display: inline-block;
		margin: 10px;
		color: #003e8a;
		font-size: 18px;
		line-height: 1.3;
		padding-top: 120px;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		text-decoration: none;
		.box-shadow(0 10px 10px rgba(102,126,149,0.25));
		.transition(0.3s);
		.box_sizing();
		
		&:nth-child(1) { background: #fff url('/css/layout/icons/navody-icon.png') no-repeat center 30px; }
		&:nth-child(2) { background: #fff url('/css/layout/icons/faq-icon.png') no-repeat center 30px; }
		&:nth-child(3) { background: #fff url('/css/layout/icons/pripojeni-icon.png') no-repeat center 30px; }
		&:nth-child(4) { background: #fff url('/css/layout/icons/platby-icon.png') no-repeat center 30px; }
		&:nth-child(5) { background: #fff url('/css/layout/icons/klient-icon.png') no-repeat center 30px; }
		&:nth-child(6) { background: #fff url('/css/layout/icons/servis-icon.png') no-repeat center 30px; }
		&:nth-child(7) { background: #fff url('/css/layout/icons/podminky-icon.png') no-repeat center 30px; }
		&:nth-child(8) { background: #fff url('/css/layout/icons/vernostni-icon.png') no-repeat center 30px; }
		
		&:hover {
			.box-shadow(0px 0px 10px rgba(102,126,149,0.45));
		}
	}
	
	&.faq-icons {
		.pBox {
			&:nth-child(1) { background: #fff url('/css/layout/icons/internet-blue.png') no-repeat center 50px; }
			&:nth-child(2) { background: #fff url('/css/layout/icons/tv-blue.png') no-repeat center 50px; }
			&:nth-child(3) { background: #fff url('/css/layout/icons/blue-mobile-icon.png') no-repeat center 50px; }
			&:nth-child(4) { background: #fff url('/css/layout/icons/dotazy-icon.png') no-repeat center 50px; }
		}
	}
	
	&.platba-icons {
		vertical-align: top;
		
		.pBox {
			vertical-align: top;
			
			&:nth-child(1) { background: #fff url('/css/layout/icons/internet-blue.png') no-repeat center 50px; }
			&:nth-child(2) { background: #fff url('/css/layout/icons/podminky-icon.png') no-repeat center 50px; }
			&:nth-child(3) { background: #fff url('/css/layout/icons/servis-icon.png') no-repeat center 50px; }
			&:nth-child(4) { background: #fff url('/css/layout/icons/platby-icon.png') no-repeat center 50px; }
		}
	}
}

.max775 { max-width: 775px !important; }

.googleChart {
	background: #fff;
	height: 450px;
	margin-top: 30px;
	.box-shadow(0 10px 10px rgba(102,126,149,0.25));
	.box_sizing();
}

#arrow_bottom_sipka {
	background: none !important; 
	font-family: 'awesome';
	font-size: 66px;
	color: #fff;
	width: 200px;
	height: 70px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
	z-index: 9999;
	text-shadow: 0px 0px 12px rgba(0,0,0,0.25);
	bottom: 60px;
	-webkit-animation: sipka 2s infinite; /* Safari 4+ */
	-moz-animation:    sipka 2s infinite; /* Fx 5+ */
	-o-animation:      sipka 2s infinite; /* Opera 12+ */
	animation:         sipka 2s infinite;
}

@keyframes sipka {
  0%   { opacity: 0; bottom: 60px; }
  10% { opacity: 1; }
  90% { opacity: 0; }
  100% { opacity: 0; bottom: 0; }
}

@-moz-keyframes sipka {
  0%   { opacity: 0; bottom: 60px; }
  10% { opacity: 1; }
  90% { opacity: 0; }
  100% { opacity: 0; bottom: 0; }
}

@-webkit-keyframes sipka {
  0%   { opacity: 0; bottom: 60px; }
  10% { opacity: 1; }
  90% { opacity: 0; }
  100% { opacity: 0; bottom: 0; }
}

@-ms-keyframes sipka {
  0%   { opacity: 0; bottom: 60px; }
  10% { opacity: 1; }
  90% { opacity: 0; }
  100% { opacity: 0; bottom: 0; }
}

.fstBox {
	width: 100% !important;
	left: 0 !important;
	top: auto !important;
	bottom: 0;
	padding: 20px 10px !important;
	background-color: #09910a !important;
	border-color: #09910a !important;
	color: #fff;
	text-align: center;
	.box_sizing();
	
	div {
		display: inline-block;
		float: none !important;
		font-size: 17px !important;
		color: #fff;
	}
	
	.fstBox_ico:before {
		content: '\f00c' !important;
	}
}

#klz { margin-top: 120px; }
.pb25 { padding-bottom: 25px; }

#searchModal {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: calc(~"100% - 60px");
	height: 80px;
	background: #fff;
	
	.button {
		margin-top: 10px !important;
	}
	
	form {
		width: 90%;
		max-width: 520px;
		float: right;
	}
	
	.button {
		float: right;
		margin-right: 10px;
		width: 100px;
	}
	
	#SearchInput {
		float: right;
		width: 60%;
		max-width: 330px;
		height: 55px;
		line-height: 55px;
		margin-right: 20px !important;
		font-size: 18px;
		margin-top: 12px;
		padding-left: 15px;
		outline: none;
		.box_sizing();
	}
}































