
/* FONTY */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,700');
@font-face {
    font-family: 'awesome';
    src: url('/css/fonts/awesome/fontawesome-webfont.eot');
    src: url('/css/fonts/awesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/awesome/fontawesome-webfont.woff') format('woff'),
         url('/css/fonts/awesome/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow_condensedbold';
    src: url('/css/fonts/barlowcondensed-bold-webfont.woff2') format('woff2'),
         url('/css/fonts/barlowcondensed-bold-webfont.woff') format('woff'),
         url('/css/fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow_condensedextralight';
    src: url('/css/fonts/barlowcondensed-extralight-webfont.woff2') format('woff2'),
         url('/css/fonts/barlowcondensed-extralight-webfont.woff') format('woff'),
         url('/css/fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow_condensedlight';
    src: url('/css/fonts/barlowcondensed-light-webfont.woff2') format('woff2'),
         url('/css/fonts/barlowcondensed-light-webfont.woff') format('woff'),
         url('/css/fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow_condensedregular';
    src: url('/css/fonts/barlowcondensed-regular-webfont.woff2') format('woff2'),
         url('/css/fonts/barlowcondensed-regular-webfont.woff') format('woff'),
         url('/css/fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow_condensedsemibold';
    src: url('/css/fonts/barlowcondensed-semibold-webfont.woff2') format('woff2'),
         url('/css/fonts/barlowcondensed-semibold-webfont.woff') format('woff'),
         url('/css/fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow_semi_condensedXLt';
    src: url('/css/fonts/barlowsemicondensed-extralight-webfont.woff2') format('woff2'),
         url('/css/fonts/barlowsemicondensed-extralight-webfont.woff') format('woff'),
         url('/css/fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow_semi_condensedmedium';
    src: url('/css/fonts/barlowsemicondensed-medium-webfont.woff2') format('woff2'),
         url('/css/fonts/barlowsemicondensed-medium-webfont.woff') format('woff'),
         url('/css/fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow_semi_condensedsemibold';
    src: url('/css/fonts/barlowsemicondensed-semibold-webfont.woff2') format('woff2'),
         url('/css/fonts/barlowsemicondensed-semibold-webfont.woff') format('woff'),
         url('/css/fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
