@import "global.less";
.color-blue{
	color: #003e89 !important;
}
.mobileTarifs{
	&.internet{
		.mobileT{
			min-height: 500px;
			max-height: 525px;
			height: auto;

			.row{
				height: auto;
				line-height: 30px;
				label{
					width: 100%;
				}
				a{
					text-align: center;
					//padding: 10px 15px;
					color: #003e89;
					font-size: 15px;
				}
			}
			.price{
				position: absolute;
				bottom: 15px;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}
	}
}
/* AUTOCOMPLETE WITHOUT JS POSITIONING */
#findServices {
	.wrapper-relative{

		position: relative;
		display: inline-block;
		.auto_search_result{
			//top: 56px;

		}
	}
}
.search_preloader{

	background-color: transparent;
	width: 35px;
	height: 35px;
	
	z-index: 10;
	.input-preloader{
		max-width: 100%;
		position: absolute;
		left:0;
	}

}
#wrapper-preloader{
	width: 100%;
	height: 100%;
	background-color: @black;
	position: fixed;
	z-index: 3000;
	overflow: hidden;
	opacity: .7;
	//margin-top: -80px;

	#preloader{

		.loader-icon{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}
}

.idea{
	width: 100%;
	background-image: url('/css/layout/icons/zarovka.svg');
	background-size: 28px;
	background-position: center 0;
	background-repeat: no-repeat;
}

.rychlost-internetu{
	h2, h3{
		text-transform: uppercase;
		font-weight: 700;
	}
	h3{
		margin-bottom: 20px;
	}
	ul{
		padding-left: 1rem;
		li{
			font-size: 18px;
			color: rgba(0, 0, 0, 0.6);
		}
	}
}
.wrapper-programs{
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;

}
.balicky-all{
	.sluzba-buttons{
		li{
			a.button{
				width: auto;
				padding: 0 8px;
				font-size: 14px;
			}

		}
	}
	.balicky{
		width: 100%;
		min-height: 200px;
		float: none;
		margin-bottom: 50px;
		padding-top: 0;
		position: relative;
		z-index: 10;
	}
}
.funkce{
	&.article_text{
		h2{
			text-transform: uppercase;
		}
	}
	ul{
		list-style: none;
	}

}
textarea{
	&:focus, &:hover, &:active{
		outline: none;
	}
}
.fst-table{
	table {
		max-width: 100%;
		background-color: transparent;
	}
	th, td {
		text-align: center;
	}
	.table {
		width: 100%;
		margin-bottom: 20px;
		border: none !important;
	}
	.table > thead > tr > th,
	.table > tbody > tr > th,
	.table > tfoot > tr > th,
	.table > thead > tr > td,
	.table > tbody > tr > td,
	.table > tfoot > tr > td {
		padding: 8px;
		line-height: 1.428571429;
		vertical-align: middle;
		//border-top: 1px solid #dddddd;

	}
	table > tbody > tr > td {
		text-align: left;

	}
	.table > tbody > tr > td:nth-child(odd) {
		border-right: 2px solid #ccc;

	}
	.table > thead > tr > th {
		vertical-align: middle;
		border-bottom: 2px solid #be000a;
	}
	.table > caption + thead > tr:first-child > th,
	.table > colgroup + thead > tr:first-child > th,
	.table > thead:first-child > tr:first-child > th,
	.table > caption + thead > tr:first-child > td,
	.table > colgroup + thead > tr:first-child > td,
	.table > thead:first-child > tr:first-child > td {
		border-top: 0;
	}
	.table > tbody + tbody {
		border-top: 2px solid #dddddd;
	}
	.table .table {
		background-color: #ffffff;
	}
	.table-condensed > thead > tr > th,
	.table-condensed > tbody > tr > th,
	.table-condensed > tfoot > tr > th,
	.table-condensed > thead > tr > td,
	.table-condensed > tbody > tr > td,
	.table-condensed > tfoot > tr > td {
		padding: 5px;
	}
	.table-bordered {
		border: 1px solid #dddddd;
	}
	.table-bordered > thead > tr > th,
	.table-bordered > tbody > tr > th,
	.table-bordered > tfoot > tr > th,
	.table-bordered > thead > tr > td,
	.table-bordered > tbody > tr > td,
	.table-bordered > tfoot > tr > td {
		border: 1px solid #dddddd;
	}
	.table-bordered > thead > tr > th,
	.table-bordered > thead > tr > td {
		border-bottom-width: 2px;
	}
	.table-striped > tbody > tr:nth-child(even) > td{
		background-color: #fff;
	}
	.table-striped > tbody > tr:nth-child(odd) > th {
		background-color: #f9f9f9;
	}
	.table-hover > tbody > tr:hover > td,
	.table-hover > tbody > tr:hover > th {
		background-color: #f5f5f5;
	}
	table col[class*="col-"] {
		position: static;
		float: none;
		display: table-column;
	}
	table td[class*="col-"],
	table th[class*="col-"] {
		float: none;
		display: table-cell;
	}
	.table > thead > tr > .active,
	.table > tbody > tr > .active,
	.table > tfoot > tr > .active,
	.table > thead > .active > td,
	.table > tbody > .active > td,
	.table > tfoot > .active > td,
	.table > thead > .active > th,
	.table > tbody > .active > th,
	.table > tfoot > .active > th {
		background-color: #f5f5f5;
	}
	.table-hover > tbody > tr > .active:hover,
	.table-hover > tbody > .active:hover > td,
	.table-hover > tbody > .active:hover > th {
		background-color: #e8e8e8;
	}
	.table > thead > tr > .success,
	.table > tbody > tr > .success,
	.table > tfoot > tr > .success,
	.table > thead > .success > td,
	.table > tbody > .success > td,
	.table > tfoot > .success > td,
	.table > thead > .success > th,
	.table > tbody > .success > th,
	.table > tfoot > .success > th {
		background-color: #dff0d8;
	}
	.table-hover > tbody > tr > .success:hover,
	.table-hover > tbody > .success:hover > td,
	.table-hover > tbody > .success:hover > th {
		background-color: #d0e9c6;
	}
	.table > thead > tr > .danger,
	.table > tbody > tr > .danger,
	.table > tfoot > tr > .danger,
	.table > thead > .danger > td,
	.table > tbody > .danger > td,
	.table > tfoot > .danger > td,
	.table > thead > .danger > th,
	.table > tbody > .danger > th,
	.table > tfoot > .danger > th {
		background-color: #f2dede;
	}
	.table-hover > tbody > tr > .danger:hover,
	.table-hover > tbody > .danger:hover > td,
	.table-hover > tbody > .danger:hover > th {
		background-color: #ebcccc;
	}
	.table > thead > tr > .warning,
	.table > tbody > tr > .warning,
	.table > tfoot > tr > .warning,
	.table > thead > .warning > td,
	.table > tbody > .warning > td,
	.table > tfoot > .warning > td,
	.table > thead > .warning > th,
	.table > tbody > .warning > th,
	.table > tfoot > .warning > th {
		background-color: #fcf8e3;
	}
	.table > thead > tr > .poda,
	.table > tbody > tr > .poda,
	.table > tfoot > tr > .poda,
	.table > thead > .poda > td,
	.table > tbody > .poda > td,
	.table > tfoot > .poda > td,
	.table > thead > .poda > th,
	.table > tbody > .poda > th,
	.table > tfoot > .poda > th {
		background-color: #003e89;
		border: none;
		border-right: 2px solid #bc0006;
		border-bottom: 1px solid rgba(255,255,255,.7);
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}

	@media (max-width: 767px) {
		.table-responsive {
			width: 100%;
			margin-bottom: 15px;
			overflow-y: hidden;
			overflow-x: scroll;
			-ms-overflow-style: -ms-autohiding-scrollbar;
			//border: 1px solid #dddddd;
			-webkit-overflow-scrolling: touch;
		}
		.table-responsive > .table {
			margin-bottom: 0;
		}
		.table-responsive > .table > thead > tr > th,
		.table-responsive > .table > tbody > tr > th,
		.table-responsive > .table > tfoot > tr > th,
		.table-responsive > .table > thead > tr > td,
		.table-responsive > .table > tbody > tr > td,
		.table-responsive > .table > tfoot > tr > td {
			white-space: nowrap;
		}
		.table-responsive > .table-bordered {
			border: 0;
		}
		.table-responsive > .table-bordered > thead > tr > th:first-child,
		.table-responsive > .table-bordered > tbody > tr > th:first-child,
		.table-responsive > .table-bordered > tfoot > tr > th:first-child,
		.table-responsive > .table-bordered > thead > tr > td:first-child,
		.table-responsive > .table-bordered > tbody > tr > td:first-child,
		.table-responsive > .table-bordered > tfoot > tr > td:first-child {
			border-left: 0;
		}
		.table-responsive > .table-bordered > thead > tr > th:last-child,
		.table-responsive > .table-bordered > tbody > tr > th:last-child,
		.table-responsive > .table-bordered > tfoot > tr > th:last-child,
		.table-responsive > .table-bordered > thead > tr > td:last-child,
		.table-responsive > .table-bordered > tbody > tr > td:last-child,
		.table-responsive > .table-bordered > tfoot > tr > td:last-child {
			border-right: 0;
		}
		.table-responsive > .table-bordered > tbody > tr:last-child > th,
		.table-responsive > .table-bordered > tfoot > tr:last-child > th,
		.table-responsive > .table-bordered > tbody > tr:last-child > td,
		.table-responsive > .table-bordered > tfoot > tr:last-child > td {
			border-bottom: 0;
		}
	}

	@media print {
		.table td,
		.table th {
			background-color: #fff !important;
		}
	}
}
.programs{
	&.balicky{
		h2, h3{
			text-align: left;
		}

	}
	h2{
		text-align: center;
		margin-bottom: 50px;
		text-transform: uppercase;

	}
	h3{
		text-align: center;
		text-transform: uppercase;
		margin-top: 50px;
		margin-bottom: 25px;
	}

	p{
		text-align: center;
	}

	ul{

		li{
			float: left;
			width: 62px;
			height: 62px;
			border: 1px solid rgb(217,217,217);
			list-style-type: none;
			padding: 15px;
			position: relative;
			margin: -1px -1px 0 0;
			cursor: pointer;


			&:hover{
				.about{
					display: block;
				}
			}
			&:nth-child(13n), &:nth-child(13n-1), &:nth-child(13n-2), &:nth-child(13n-3){
				//background-color: red !important;
				&:hover{
					.about{
						display: block;
					}
				}
				.about {
					position: absolute;
					width: 320px;
					min-height: 90px;
					height: auto;
					padding: 15px 20px;
					background-color: #fff;
					z-index: 100;
					display: none;
					bottom: 80px; 
					left: auto;
					right: 32px;
					//border: 1px solid rgb(217,217,217);
					-webkit-box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
					-moz-box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
					-ms-box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
					box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
					transition: .2s;
					-webkit-transition: .2s;
					-moz-transition: .2s;
					-o-transition: .2s;

					&:before {
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 11px 11px 0;
						border-color: transparent #ffffff transparent transparent;
						content: '';
						position: absolute;
						bottom: -10px;
						right: 10px;
						left: auto;
					}
				}
			}

			//border: collapse;
			.about{
				position: absolute;
				width: 320px;
				min-height: 90px;
				height: auto;
				padding: 15px 20px;
				background-color: #fff;
				z-index: 100;
				display: none;
				bottom: 80px;
				left: 32px;
				color: rgba(0,0,0,.6);
				//border: 1px solid rgb(217,217,217);
				-webkit-box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
				-moz-box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
				-ms-box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
				box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
				transition: .2s;
				-webkit-transition: .2s;
				-moz-transition: .2s;
				-o-transition: .2s;

				&:before{
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 11px 11px 0 0;
					border-color: #fff transparent transparent transparent;
					content: '';
					position: absolute;
					bottom: -10px;
					left: 10px;
				}
				strong{
					margin-bottom: 5px;
					display: block;
					color: #000;
				}
			}
			img{
				position: absolute;
				width: 62px;
				height: auto;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				margin: auto;
				z-index: 10;
				display: block;

			}
		}
	}
}

.img-responsive{
	max-width: 100%;
	width: auto;
	height: auto;

}
.img-center-center{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.smallest-wrapper{
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	&.mt50{
		margin-top: 50px;
	}
}

.pt100{
	padding-top: 100px !important;
}
.pt85{
	padding-top: 85px !important;
}
.pt75{
	padding-top: 75px !important;
}
.pt50{
	padding-top: 50px !important;
}
.pt25{
	padding-top: 25px !important;
}
.pb50{
	padding-bottom: 50px !important;
}
.pb25{
	padding-bottom: 25px !important;
}
.dokumenty{
	.tarifBox{
		vertical-align: top;
		background-size: 40px;
		background-position: center 13px;
		background-repeat: no-repeat;
		min-height: 440px;
		height: auto;

		&.doc{
			background-image: url('/css/layout/icons/doc.svg');
		}
		&.doc_others{
			background-image: url('/css/layout/icons/doc_others.svg');
		}
		&.manualy{
			background-image: url('/css/layout/icons/manualy.svg');
		}
		ul{
			padding: 0;
			margin: 0;
			color: #003e89;
			padding-left: 1rem;
			li{
				padding: 5px 0;
				a{
					color: #003e89;

				}
				ul{
					padding: 0;
					margin: 0;
					color: #003e89;
					li{
						padding: 5px 0;
						a{
							color: #003e89;

						}
					}
				}
			}
		}

	}
}


#overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1049;
	background-color: #fff;
	//background-color: rgba(0,62,137,1);
	//display: none;
	pointer-events: none;
	opacity: 0;
	//transform: translateY(-2000px);
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-ms-transition: opacity 0.4s;
	transition: opacity 0.4s;

	&.anim{
		opacity: 0.7;
		pointer-events: all;
		//transform: translateY(0px);
	}

	&.loading {
		background-image: url('/css/layout/loading.gif');
		background-position: center center;
		background-repeat: no-repeat;
	}

}

#instructionVideo_frame{

	padding: 20px;
	background: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
	-moz-box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
	box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);

	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 854px;
	height: 480px;
	z-index: 1050;

	pointer-events: none;


	transform: translateY(-2000px);
	.transition(0.4s);

	&.anim{

		pointer-events: all;
		transform: translateY(0px);
	}
	.x {
		width: 28px;
		height: 28px;
		background: url('/css/layout/close.png');
		position: absolute;
		right: -14px;
		top: -14px;
		cursor: pointer;
	}

}
.kontakt-list{

		&.pro-media{
			height: 450px;
			padding-bottom: 50px;

		}

	.icon-off{
		&:nth-child(1), &:nth-child(2), &:nth-child(3){
			background: none !important;
			h2{
				color: rgba(0, 0, 0, 0.6);
			}
		}
		p{
			margin-bottom: 0;
		}

		position: relative;
		height: 65%;
		padding-top: 0;
		.about{
			position: absolute;
			top: 330px;
		}
	}



}
