#header {
	background: #1f1f1f;
	position: fixed;
	top: 0;
	height: 60px;
	width: 100%;
	left: 0;
}


.navbar {
	display: none;
}

#logo {
	width: 187px;
	height: 43px;
	text-decoration: none;
	display: block;
	background: url('/css/layout/logo/logo_white.svg');
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 7px;
	margin-left: 25px;
	float: left;
}

.header.smaller{
	height: 300px;
	padding: 150px 0 150px 0;
}