@import "global.less";

@media (max-width: 1100px) {
	.other-pages{
		#header, #header_adopt{
			background: @black !important;
			// height: 57px !important;

		}
		section.mt-50 {
			margin-top: 0px;
		}
		&.sluzby {
			.other {
				margin-top: 340px;
			}
		}
	}
	.main-page{
		#header.el_adopt{
			background: @black !important;
			// height: 57px !important;

		}
	}
	.article_text {
		padding: 0 15px;
		box-sizing: border-box;
		position: relative;
	}
	
	.article_text h2, .wrapper h2 {
		font-size: 32px;
	}
	
	.sll5 {
		width: 49% !important;
	}

	/*
	#body.main-page{
		#header{
			background-image: url(/css/layout/banner/banner_homepage.jpg) !important;

		}
	}*/
	
	#navmenu { display: none; }
	#logo {
		width: 130px;
		height: 38px;
		background-size: 260px;
		background-repeat: no-repeat;
		background-size: 130px;
		margin-top: 10px;
		margin-left: 15px;
	}
	
	input {
		-webkit-appearance: none !important;
		border-radius: 0;
	}
	
	a {
		color: #295c9c;
	}
	
	.tarifs.hauto {
		.tarifBox { padding-bottom: 0 !important; }
	}
	
	.programs {
		&.balicky{
			h3{
				text-align: center !important;
			}
		}

		ul {
			text-align: center;
			
			li {
				float: none !important;
				display: inline-block;
				margin-right: 0 !important;
				
				.about {
					display: none !important;
				}	
			}
		}
	}
	
	#sluzba-buttons {
		.button { width: 185px; margin-top: 3px; }
	}
	
	html {
		-webkit-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		text-size-adjust: 100%;
	} 
	
	#load_google_map {
		#map_canvas { height: 400px !important; }
	}
	
	.drobeckova.no-bg { background: rgba(0,0,0,0.3); }
	
	.middleText {
		padding: 0 20px;
		margin-top: 120px !important;
		.box_sizing();
		
		h1 {
			font-size: 40px !important;
		}
	}
	
	iframe, #instructionVideo_frame {
		margin: 20px 0;
		width: 100% !important;
		height: auto !important;
	}
	
	#instructionVideo_frame {
		height: 300px !important;
		
		.x {
			right: 15px !important;
		}
	}
	
	.smaller-wrapper {
		padding: 0 15px;
		.box_sizing();
	}
	
	.bottomText {
		height: auto;
		margin-top: 0 !important;
		
		.title {
			margin-top: 90px !important;
			font-size: 40px !important;
		}
	}
	
	.wholeBox {
		height: auto !important;
		
		.sl30 {
			width: 100%;
		}
		
		.price {
			position: static !important;
			margin-bottom: 70px;
			margin-top: 20px;
		}
	}
	
	.button.wider {
		width: 100%;
		max-width: 300px;
	}
	
	.faq .fRow p, .faq .fRow ul, .faq .fRow ol {
		width: 100%;
	}
	
	.tarifBox {
		width: 100% !important;
		max-width: 380px;
		height: auto;
		margin: 0 !important;
		margin-bottom: 35px !important;
		padding: 25px 10px;
		
		.abs {
			position: static;
			margin-top: 30px;
			float: left;
		}	
		
		label {
			width: 190px !important;
		}
		
		.row { overflow: hidden; }
		
		strong {
			font-size: 15px;
		}
	}
	
	.tarifs {
		.tarifBox {
			height: auto !important;
			padding-bottom: 150px;
			
			img {
				max-width: 100%;
			}
		}
	}
	
	.button.huge {
		width: 100%;
		max-width: 380px;
		height: auto;
		line-height: 1;
		padding: 15px 0;
	}
	
	.faq .fRow {
		max-height: 80px;
		
		&.active {
			max-height: 700px;
		}
	}
	
	.blok {
		height: auto !important;
		padding: 0 15px 15px;
		/*background: #787878 !important;*/
		.box_sizing();
		
		h2 {
			margin-top: 15px !important;
		}
		
		.wideBox {
			width: 100%;
			float: none !important;
			margin-bottom: 20px;
		}
	}
	
	.bankovni-spojeni {
		height: auto;
		padding-bottom: 20px;
		
		li {
			padding-top: 20px;
		}
	}
	
	.buttons {
		max-width: 100% !important;
		
		.button {
			margin-bottom: 20px !important;
		}
	}
	
	.full-imgs, .blackRow {
		display: none;
	}
	
	.mainImg {
		height: 200px;
		background-attachment: scroll;
	}
	
	.article_text {
		article {
			padding-top: 0 !important;
			margin-bottom: 20px;
			max-height: 200px;
			
			&:first-child {
				margin-top: 0 !important;
			}
			
			&.active {
				max-height: 66000px;
			}
			
			.created { display: none; }
			.actual-text, p, h2 {
				width: 100%;
				text-align: left !important;
			}
			
			p {
				font-size: 16px !important;
			}
			
			h2 {
				font-size: 18px !important;
			}
			
			.button{
				display: block;
				top: -20px;
				width: 25px;
				height: 25px;
				font-size: 20px;
				line-height: 15px !important;
            	position: absolute !important;
            }
		}
	}
	

	
	.smallest-wrapper {
		width: 92% !important;
	}
	
	.white-places {
		padding: 0 20px 20px;
		height: auto !important;
		.box_sizing();
		
		.title {
			margin-bottom: 10px;
		}
	}
	
	.big {
		font-size: 30px !important;
	}
	
	#findServices {
		padding-top: 25px;
		
		input {
			width: 100% !important;
			margin-bottom: 10px;
		}
	}
	
	.smaller-wrapper {
		form {
			.input {
				width: 100% !important;
			}
		}
	}
	
	#header { background: none; box-shadow: none; }
	#header_adpot { box-shadow: none; }
	
	.on-mobile { display: block; }
	
	.findServices {
		input {
			top: 0;
			margin-bottom: 5px !important;
			height: 35px !important;
			line-height: 35px;
		}
		
		.button {
			margin-top: 5px !important;
		}
	}
	
	#header .blur-box .line.active { height: 300px; }
	
	.article_text {
		article:first-child {
			margin-top: 50px;
		}
	}

	#mobile_menu {
        width: 75px;
        height: 35px;
        background: @green;
        position: fixed;
        top: 10px;
        right: 15px;
        z-index: 9999;
        font-family: 'awesome';
        color: #fff;
        font-size: 17px;
        text-align: left;
        line-height: 35px;
        padding-left: 10px;
        .box_sizing();
        .transition(0.4s);
        
        &:after {
	        content: 'MENU';
	        color: #fff;
	        font-size: 18px;
	        margin-left: 8px;
	        font-family: 'barlow_condensedlight';
        }
        
        &.open { background: @black; }
    }

    #mobile_nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        white-space: nowrap;
        min-height: 100%;
        background: rgba(48, 199, 66, .95);
        padding-top: 50px;
        z-index: 999;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        .transition(0.4s);
        
        &.active {
	        -webkit-transform: translateX(0);
	        -moz-transform: translateX(0);
	        -ms-transform: translateX(0);
	        transform: translateX(0);
        }

        li {
            line-height: 40px;
            text-align: center;
            
            // &:last-child { display: none; }

            ul { display: none !important; }

            a {
                color: #fff;
                font-size: 24px;
                text-decoration: none;
                padding-bottom: 5px;
                display: block;
            }
        }
    }
    
    .promo {
	    display: none;
    }
    
    .services-list {
	    li { margin-bottom: 30px; }
    }
    
    footer {
	    .wrapper {
		    text-align: center;
		    
		    ul {
			    float: none;
			    display: inline-block;
			    margin-bottom: 20px;
		    }
	    }
    }
}

@media(min-width: 768px){
	.max300desktop {
		min-width: 300px;
	}
}

@media (max-width: 768px) {
	#body {
		overflow-x: hidden;
	}
	#firstWrapper{
		.row.row-h.mt50{
			height: 200px;
			margin-top: 0 !important;
		}
	}
	.img-responsive {
		max-width: 100%;
	}
	.fb-icon {
		float: left;
		margin-right: 10px;
		top: 0;
	}
	footer{
		a.fb-link {
			width: 50px;
			position: relative;
			height: 40px;
			display: block;
			float: left;
		}
		.copyright {
			margin-top: 9px;
			float: right;
			width: calc(~"100% - 60px");
		}	
	}
	.row{
		.sll, .slr{
			width: 96%;
			padding: 0 2%;
		}
	}
	.contacts{
		text-align: center;
		margin-bottom: 25px;
	}
	.wrapper{
		width: 94.5%;
		padding: 0 2%;
		.wrapper{
			padding: 0;
		}
	}
	.article_text p, .wrapper p{
		text-align: left;
	}
	.wrapper p.nonstop {
		text-align: center !important;
	}
	.photogallery{
		&.wrapper, .wrapper{
			padding: 0;
		}
		.sll3{
			width: 30%;
		}
		.sll5{
			width: 20%;
		}
	}
	.sll3, .sll, .slr, .sll5{
		width: 94.5%;
		&.wrapper-img{
			margin-top: 25px;
			text-align: center;
			width: 94%;
			padding: 0 3%;
		}

	}
	#header .header_uvod, #header_adopt .header_uvod{
		height: 60px;
	}

	#header_adopt.banner {
		height: 300px !important;
	    background-attachment: scroll !important;
	    background-position: center top !important;
			.header_uvod {
				top: 80px !important;
			}
			
	    .blur-box:before { height: 300px !important; bottom: 0 !important; }
	    .blur-box { margin-top: 150px; }
    }
    
    #header { 
	    background: none !important; 
	    
	    .blur-box {
		    background: none !important;
		    height: 100px;
		    margin-top: 30px !important;
		    
		    .line {
			    height: 50px;
			    line-height: 52px;
			    font-size: 30px;
			    background: rgba(0,0,0,0.3);
			    
			    &:nth-child(2) { top: 50px; }
			    &:nth-child(3) { display: none; }
		    }
		    
		    /*
		    &:before {
				width: 100%;
				height: 300px;
				content: '';
				position: absolute;
				left: 0;
				background: url('/css/layout/banner.jpg') no-repeat;
				background-position: center top;
				background-size: cover;
				filter: blur(10px);
				z-index: 10;
			}*/
	    }
	}
}
@media (max-width: 425px) {
	.scrollMobile {
		display: block;
	}
  .col-xs-12{
    text-align: center;
    min-height: 50px;
    //float: initial !important;

    .pull-right, .pull-left{
      float: none !important;

      &.btn-conci.btn-contact{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
		float: none !important;
		display: inline-block;

      }
	}
	

  }
	.article_text p, .wrapper p{
		text-align: left;

		&.nonstop {
			text-align: center !important;
		}
	}

}


