<tr>
    <td>Prosinec 2018 – BPS Veľké Turovce</td>
    <td>oprava plynové membrány dofermentoru</td>
</tr>
<tr>
    <td>Prosinec 2018 – BPS Kežmarok</td>
    <td>úprava plynové a kalové trasy</td>
</tr>
<tr>
    <td>Prosinec 2018 – BPS Bolkovce</td>
    <td>montáž a zprovoznění radarového měření hladiny homogenizační jímky</td>
</tr>
<tr>
    <td>Listopad 2018 – BPS Bolkovce</td>
    <td>plánovaný servis strojní technologie TO3</td>
</tr>
<tr>
    <td>Listopad 2018 – BPS Ožďany</td>
    <td>výměna plynotěsné membrány fermentoru 2 a repas míchadel fermentoru 1 a 2</td>
</tr>
<tr>
    <td>Říjen 2018 – BPS Velké Uherce</td>
    <td>montáž plynotěsné membrány dohnívací nádrže a repas míchadel</td>
</tr>
<tr>
    <td>Říjen 2018</td>
    <td>repas pádlových míchadel fermentoru, oprava vrtulových míchadel, výměna prostupu míchadel </td>
</tr>
<tr>
    <td>Říjen 2018 – BPS Horný Jatov</td>
    <td>oprava střešní a plynové membrány fermentoru</td>
</tr>
<tr>
    <td>Září – říjen 2018 - BPS Pustějov</td>
    <td>montáž pádlových míchadel do fermentoru 2 a rekonstrukce technologie </td>
</tr>
<tr>
    <td>Září 2018 – BPS Dvory nad Žitavou</td>
    <td>čištění skladovací nádrže</td>
</tr>
<tr>
    <td>Září 2018 – BPS Habry</td>
    <td>výměna míchadel ve fermentoru 1 a 2</td>
</tr>
<tr>
    <td>Září 2018 – Cukrovar Dobrovice Tereos TTD a.s.</td>
    <td>oprava plynové membrány fermentoru </td>
</tr>
<tr>
    <td>Srpen – Záři 2018 BPS Čejč</td>
    <td>rekonstrukce fermentorů 1 a 2 , dodávka a montáž plynotěsného zastřešení</td>
</tr>
<tr>
    <td>Srpen 2018 – BPS Velký Ďur SK</td>
    <td>rekonstrukce fermentoru 1 dodávka a montáž plynotěsné membrány</td>
</tr>
<tr>
    <td>Červen 2018 – BPS Ostřetín</td>
    <td>rekonstrukce dohnívací nádrže</td>
</tr>
<tr>
    <td>Červen - záři 2018 – BPS Pustějov</td>
    <td>Dodávka a montáž nového plynotěsného zastřešení</td>
</tr>
<tr>
    <td>Květen 2018 – ČOV Vyškov</td>
    <td>revize technologie</td>
</tr>
<tr>
    <td>Květen 2018 – BPS Bolkovce</td>
    <td>připojení nových chladičů KGJ MWM 400 kW, dodávka a montáž izolací</td>
</tr>
<tr>
    <td>Květen 2018 – BPS Spytihněv</td>
    <td>rekonstrukce plynotěsného zastřešení na fermentoru 2</td>
</tr>
<tr>
    <td>Květen 2018 – BPS Velké Albrechtice</td>
    <td>rekonstrukce technologie fermentoru</td>
</tr>
<tr>
    <td>Duben 2018 – BPS Trakovice</td>
    <td>oprava plynové membrány za provozu, připojení čerpání z HJ, oprava sloupu míchadlau</td>
</tr>
<tr>
    <td>Duben 2018 – BPS Vrbová nad Váhom</td>
    <td>dodávka a montáž odsiřovacího filtru bioplynu, oprava plyn. membrány za provozu</td>
</tr>
<tr>
    <td>Březen 2018 – BPS Lipová SK</td>
    <td>oprava všech pádlových míchadel na fermentoru 1 A 2 a oprava topného systému</td>
</tr>
<tr>
    <td>Únor - Březen 2018 – BPS Klokočov</td>
    <td>montáž odsiřovací a chladicí jednotky bioplynu</td>
</tr>
<tr>
    <td>Únor 2018 – BPS Drochia Moldavsko</td>
    <td>oprava a čištění plynového potrubí, servisní práce, oprava pádlových míchadel</td>
</tr>
<tr>
    <td>Únor 2018 – BPS Spytihněv</td>
    <td>přípravy před zahájením výstavby nové bioplynové stanice 500 kW, naše společnost je GD </td>
</tr>
<tr>
    <td>Únor 2018 – BPS Pustějov</td>
    <td>dodávka strojních zařízení na BPS + projektové dokumentace zastřešení </td>
</tr>
<tr>
    <td>Leden 2018 – BPS Bolkovce</td>
    <td>dodávka a montáž strojních zařízení BPS</td>
</tr>
<tr>
    <td>Leden 2018 – BPS Ždírec nad Doubravou</td>
    <td>oprava měření plynu na potrubí</td>
</tr>
<tr>
    <td>Prosinec 2017 – únor 2018 BPS V Albrechtice</td>
    <td>Rekonstrukce skladu C, rekonstrukce otopné soustavy </td>
</tr>
<tr>
    <td>Prosinec 2017 – únor 2018 BPS V Albrechtice</td>
    <td>Rekonstrukce skladu C, rekonstrukce otopné soustavy </td>
</tr>
<tr>
    <td>Listopad 2017 Plemenná farma SCHROM FARMS V. Albrechtice</td>
    <td>Oprava topného systému </td>
</tr>
<tr>
    <td>Říjen - Prosinec 2017 – TAWESCO Kopřivnice</td>
    <td>dodávka a montáž 1 km potrubí pro + technologie chlazení</td>
</tr>
<tr>
    <td>Říjen 2017 – BPS Drochia (Moldávie)</td>
    <td>Rekonstrukce měření naplnění všech plynojemů</td>
</tr>
<tr>
    <td>Říjen 2017 – BPS Dvory nad Žitavou (Slovensko) </td>
    <td>oprava zastřešení dofermentační nádrže</td>
</tr>
<tr>
    <td>Říjen 2017 – BPS Kněžice</td>
    <td>výměna potrubní technologie hygienizace</td>
</tr>
<tr>
    <td>Záři – Prosinec 2017 – ČOV Smiřice</td>
    <td>účast na rekonstrukci technologie pro spol. HYDROTECH s.r.o.</td>
</tr>
<tr>
    <td>Záři – Prosinec 2017 – BPS Velké Albrechtice</td>
    <td>oprava technologie koncového skladu C </td>
</tr>
<tr>
    <td>Záři 2017 – BPS Spytihněv</td>
    <td>Dodávka a montáž plynotěsného zastřešení fermentoru 1 </td>
</tr>
<tr>
    <td>Záři 2017 – BPS Raabs (Rakousko)</td>
    <td>oprava pádlového míchadla </td>
</tr>
<tr>
    <td>Srpen 2017 – Farma Lubina</td>
    <td>dodávka projektové dokumentace před realizaci výstavby nové BPS 500 kW</td>
</tr>
<tr>
    <td>Srpen 2017 – Pivovar Svijany</td>
    <td>oprava technologie ČOV</td>
</tr>
<tr>
    <td>Srpen 2017 BPS Pustějov</td>
    <td>výměna plynového potrubí k hořáku zbytkového plynu </td>
</tr>
<tr>
    <td>Červenec – srpen 2017 BPS Čejč</td>
    <td>dodávka a montáž nové plyn. membrány a střešní plachty + rekonstrukce technologie</td>
</tr>
<tr>
    <td>Červen - Červenec 2017 BPS Ružindol SK</td>
    <td>rekonstrukce fermentoru 2, výměna plynového potrubí </td>
</tr>
<tr>
    <td>Květen 2017 BPS Strzelin ( Polsko )</td>
    <td>oprava vnitřní technologie fermentoru F 1 B</td>
</tr>
<tr>
    <td>Květen 2017 BPS Spytihněv</td>
    <td>dodávka a montáž zastřešení fermentorů, rekonstrukce technologie, montáž hygienizace</td>
</tr>
<tr>
    <td>Květen 2017 BPS Pustějov</td>
    <td>dodávka a montáž pádlových míchadel do fermentoru 1</td>
</tr>
<tr>
    <td>Květen 2017 BPS Drochia ( Moldávie )</td>
    <td>TO 4 výměna olejových náplní – revize technologie, servis</td>
</tr>
<tr>
    <td>Květen 2017 BPS Kaloša</td>
    <td>oprava poškozené membrány na fermentorů 2</td>
</tr>
<tr>
    <td>Duben 2017 BPS Valaliky</td>
    <td>oprava dávkovacího zařízení PASCO</td>
</tr>
<tr>
    <td>Duben 2017 BPS Pustějov</td>
    <td>rekonstrukce separace, přívodního a odvodního potrubí – nerez provedení</td>
</tr>
<tr>
    <td>Březen 2017 BPS Pustějov 1</td>
    <td>výměna plynového potrubí z fermentorů – nerez provedení</td>
</tr>
<tr>
    <td>Březen 2017 BPS Kaloša</td>
    <td>oprava poškozených plynových membrán na obou fermentorech</td>
</tr>
<tr>
    <td>Březen 2017 BPS Bolkovce</td>
    <td>repas pádlových míchadel na fermentorech, revize technologie BPS, výměna plynového potrubí</td>
</tr>
<tr>
    <td>Březen 2017 BPS V. Turovce</td>
    <td>oprava poškozených plachet na dofermentační nádrží</td>
</tr>
<tr>
    <td>Březen 2017 BPS Lipová</td>
    <td>TO4, výměna olejů – revize technologie BPS</td>
</tr>
<tr>
    <td>Březen 2017 BPS Lipová</td>
    <td>TO4, výměna olejů – revize technologie BPS</td>
</tr>
 – 
 – 
 - 
Březen 2017 BPS Pustějov I – výměna výstupního plynového potrubí za nerez provedení v délce 55 m
Únor 2017 BPS Klokočov – kompletní repas a zastřešení homogenizace, výměna smaltovaných plechů nádrže
Leden 2017 BPS Spytihněv – Modernizace technologie BPS, připojení nových KGJ
Říjen – Prosinec 2016 – BPS Velké Albrechtice – přestavba kalového hospodářství, montáž nové technologie, montáž plynových membrán, oprava plynového potrubí v délce cca 250 m, montáž nové separace, oprava technologie v homogenizační jímce, oprav horizontálních míchadel a čerpadel.
Záři 2016 BPS Pustějov I – Výměnná kumulačního plynového potrubí před KGJ v nerez provedení
Záři 2016 ASPEC Krnov – rozvody potrubí plynů k spotřebičům v celém areálu pekárny ASPEC s.r.o.
Záři 2016 BPS Velký Ďur – dodávka nové plynové membrány na F2, repas pádlových míchadel na obou fermentorech.
Květen 2016 BPS Ružindol – oprava vnitřní částí technologie dohnívací nádrže  
Květen – srpen BPS Strzelín (Polsko) – výměna popruhů pod plynovou membránou u 2 fermentorů, oprava nakloněných věží míchadel, repas pádlových míchadel včetně vnitřních části, oprava přetržené membrány.
Červen – Srpen 2016 BPS Ostřetín – kompletní opravy na 2 fermentorech, demontáž a montáž plynových membrán, výměna popruhů pod plynovou membránou, úprava technologie, repas pádlových míchadel.
Duben – červen 2016 BPS Pustějov II – kompletní repas technologie 3 fermentorů, repas pádlových míchadel, kompletní výměna popruhů pod plynovou membránou, modernizace technologie dávkování, úprava topného systému
Březen – Duben 2016 BPS Pustějov II – výměna plynového potrubí za nerez v celkové délce 130 m 
Březen 2016 -  BPS Drochia ( Moldavsko) : Výměna popruhů pod plynovou membránou na 3 fermentorech, oprava roztržené plynové membrány, TO 4 – revize technologie – výměnná maziv, oprava pádlového míchadla
Červenec 2015-duben 2016 Yunus Emre (Turecko) – výstavba elektrárny na uhlí 