<div id="map_canvas2" data-lat="30.575751" data-lng="16.040129" data-zoom="2"></div>

<div id="kontakt-form">
	<div class="shadow"></div>
	<div class="title">Jsme Vám k dispozici...</div>
	<p>Máte jakýkoliv dotaz, neváhejte a napište nám!</p>
	
	<?php echo $this->requestAction('/contact_forms/1', array('return')); ?>
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?language=cz&key=AIzaSyBlV8SDwz01_bsreZwbzUOCLJtTuFDrumE"></script>
<script type="text/javascript">
//<![CDATA[
   kontakt_map(); 
//]]>
</script>