<section class="dark-background mt-50 text-center">
	<div class="wrapper">
	<h1>Služby v oblasti bioplynových stanic</h1>
	<h2>Concia tech s.r.o.</h2>
	<p>Naše mnoholeté zkušenosti v oblasti bioplynových stanic, pramení z působením v této oblasti od roku 2004, kdy jsme získávali praxi již v zaniklé společnosti, která se v minulých letech zabývala zejména výstavbou a servisem bioplynových stanic. Základem naší společnosti je náš tým odborných pracovníků, proškolených pro všechny oblastí naších služeb.</p>
	</div>
</div>

<section class="dark-background" id="service-buttons">
	<div class="wrapper">
		<div class="row">
			<div id="icon-1" class="sll5" data-service="service-13" data-aos="flip-up">
				<svg class="img-response service-icon" width="100%" height="100%" viewBox="0 0 74 74" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M63.464,0c0.583,0.003 0.968,0.389 0.968,0.967l0,3.29l7.837,0c0.58,0 0.967,0.484 1.063,0.967l0,23.025c0,0.581 -0.386,0.968 -0.967,0.968l-7.836,0l0,3.579c0,0.581 -0.387,0.968 -0.968,0.968l-8.61,0c-0.581,0 -0.968,-0.387 -0.968,-0.968l0,-3.579l-6.771,0c-9.385,0 -17.028,7.643 -17.028,17.027l0,8.61l2.805,0c0.581,0 0.969,0.387 0.969,0.968l0,8.61c0,0.58 -0.388,0.967 -0.969,0.967l-2.805,0l0,7.353c0,0.581 -0.387,0.967 -0.967,0.967l-24.476,0c-0.581,0 -0.968,-0.386 -0.968,-0.967l0,-7.353l-2.806,0c-0.583,-0.002 -0.967,-0.388 -0.967,-0.967l0,-8.61c0,-0.579 0.384,-0.965 0.967,-0.968l2.806,0l0,-9.094c0,-22.83 18.572,-41.5 41.503,-41.503l8.61,0l0,-3.29c0,-0.578 0.385,-0.964 0.968,-0.967l8.61,0Zm-35.214,71.881l0,-6.385l-22.542,0l0,6.385l22.542,0Zm3.676,-8.32l0,-6.675l-29.991,0l0,6.675l29.991,0Zm21.96,-36.086l0,-21.187l-8.61,0c-21.767,0 -39.568,17.705 -39.568,39.569l0,9.094l22.444,0l0,-8.61c0,-10.449 8.515,-18.962 18.963,-18.962l0,0.096l6.771,0Zm8.611,4.451l0,-29.991l-6.675,0l0,29.991l6.675,0Zm8.803,-4.547l0,-21.187l-6.868,0l0,21.187l6.868,0Z"/></svg>
				<h3>Výměna a montáž nových potrubních rozvodů</h3>
			</div>

			<div class="sll5" data-service="service-14" data-aos="flip-up">
				<svg class="img-response service-icon" width="100%" height="100%" viewBox="0 0 64 68" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path id="_2" serif:id="2" d="M62.47,45.33c-1.46,-2.335 -3.821,-3.981 -6.163,-4.294l-0.793,-0.105c-0.431,-0.056 -0.846,-0.111 -1.247,-0.164l-0.192,-0.025c-2.192,-0.292 -3.932,-0.522 -5.946,-0.826c-0.406,-0.323 -0.857,-0.685 -1.398,-1.126c0.083,-0.305 0.133,-0.619 0.147,-0.936c0.059,-1.17 -0.344,-2.292 -1.131,-3.158c-1.301,-1.436 -3.368,-1.84 -5.107,-1.025l-0.013,-0.012c-0.072,-0.063 -0.143,-0.125 -0.215,-0.188c0.648,-0.741 1.027,-1.675 1.076,-2.669c0.055,-1.17 -0.346,-2.292 -1.134,-3.16c-0.788,-0.867 -1.866,-1.375 -3.033,-1.431c-1.171,-0.056 -2.292,0.346 -3.158,1.132l-0.253,0.228c-0.017,-0.017 -0.036,-0.035 -0.056,-0.053l0.81,-0.734c0.865,-0.785 1.374,-1.863 1.431,-3.033c0.059,-1.17 -0.343,-2.292 -1.131,-3.158c-0.786,-0.867 -1.864,-1.376 -3.035,-1.434c-1.169,-0.057 -2.291,0.345 -3.159,1.134l-1.127,1.022c-0.017,-0.019 -0.035,-0.037 -0.052,-0.056l1.545,-1.403l0.433,-0.399l-0.027,-0.023c1.404,-1.663 1.382,-4.127 -0.108,-5.769c-0.787,-0.867 -1.865,-1.375 -3.035,-1.431c-0.983,-0.048 -1.942,0.232 -2.738,0.794l-0.02,-0.019l-0.382,0.341c-0.008,0.006 -0.016,0.013 -0.023,0.02l-1.423,1.291c-0.541,-0.676 -1.054,-1.338 -1.529,-1.972c-0.422,-1.327 -0.382,-2.508 -0.343,-3.651c0.063,-1.92 0.127,-3.906 -2.04,-6.069c-2.857,-2.854 -6.09,-3.15 -8.298,-2.897c-2.366,0.269 -4.054,1.202 -4.125,1.242l-1.08,0.607l6.845,4.499c0.464,3.187 -2.207,5.138 -3.304,5.795l-7.245,-4.007l-0.285,0.859c-0.747,2.231 -0.465,4.57 0.794,6.587c1.226,1.963 3.212,3.346 5.186,3.61c0.626,0.084 1.208,0.161 1.761,0.233l0.175,0.023c2.241,0.296 4.009,0.531 6.319,0.904c0.109,0.016 0.216,0.026 0.322,0.032l0.043,0.048c0.054,0.06 0.108,0.121 0.164,0.182l-8.074,7.327c-1.04,0.989 -1.672,2.106 -1.878,3.319c-0.288,1.696 0.368,3.014 0.538,3.317l7.347,18.573l-3.642,10.517l0.383,0.333c3.048,2.676 20.59,3.427 21.331,3.457l0.587,0.029l0.171,-0.571c0.165,-0.549 1.64,-5.454 2.695,-8.876c0.672,-2.173 3.693,-5.687 5.407,-7.559c0.106,0.939 0.078,1.833 0.05,2.706c-0.075,2.289 -0.151,4.657 2.42,7.226c2.324,2.321 5.241,3.548 8.439,3.548c0.485,0 0.982,-0.028 1.477,-0.086c2.746,-0.312 4.714,-1.362 4.932,-1.481l1.081,-0.606l-8.127,-5.343c-0.643,-4.123 3.015,-6.625 4.143,-7.29l8.679,4.801l0.287,-0.86c0.887,-2.652 0.55,-5.436 -0.949,-7.837Zm-29.276,12.338c-0.905,2.926 -2.138,7.016 -2.533,8.33c-6.538,-0.313 -16.69,-1.293 -19.419,-2.787l3.47,-10.022l-7.572,-19.144l-0.041,-0.085l-0.021,-0.039c-0.055,-0.097 -0.585,-1.08 -0.371,-2.336c0.149,-0.881 0.628,-1.713 1.426,-2.475l0.014,-0.014c0.014,-0.012 0.028,-0.026 0.041,-0.04l10.165,-9.221c0.733,0.223 1.739,0.613 2.695,1.265c0.692,0.473 1.713,1.183 3.307,2.302c0.457,0.32 0.906,0.635 1.328,0.932c1.086,0.765 1.979,1.398 2.283,1.614l0.058,0.041c0.254,0.268 1.669,1.869 1.152,3.828l-0.028,0.094c-0.044,0.162 -0.11,0.34 -0.195,0.529c-0.437,0.957 -1.089,1.715 -1.888,2.191c-1.064,0.64 -2.14,0.634 -2.691,0.358c-1.051,-0.525 -4.061,-2.38 -5.305,-3.153l-1.254,-0.783l-3.235,3.235l6.333,11.8l1.326,-0.714l-2.569,-4.79c4.354,0.401 7.422,3.625 9.255,6.331c1.27,1.869 1.909,3.451 1.916,3.466l0.135,0.342l1.4,-0.561l-0.137,-0.341c-0.071,-0.177 -0.738,-1.795 -2.068,-3.753c-2.17,-3.2 -5.887,-6.993 -11.331,-7.032l-2.402,-4.475l1.595,-1.595l0.237,0.148c1.265,0.786 4.328,2.674 5.428,3.224c0.908,0.455 2.123,0.45 3.282,0.006c-0.718,1.57 -0.445,3.454 0.744,4.762c0.827,0.913 2.014,1.436 3.256,1.436c0.563,0 1.128,-0.111 1.649,-0.325c0.166,0.188 0.33,0.372 0.492,0.555c-0.678,1.573 -0.381,3.38 0.787,4.665c0.831,0.915 2.015,1.438 3.247,1.438c0.411,0 0.82,-0.058 1.216,-0.172c0.208,0.237 0.412,0.469 0.609,0.694l0.265,0.3c0.158,0.346 0.292,0.695 0.408,1.057c-2.125,2.252 -5.639,6.253 -6.459,8.914Zm29.036,-5.86l-7.76,-4.293l-0.35,0.175c-0.065,0.031 -6.476,3.307 -5.232,9.425l0.059,0.31l6.471,4.254c-0.769,0.289 -1.893,0.63 -3.192,0.776c-3.351,0.373 -6.262,-0.648 -8.653,-3.035c-2.113,-2.11 -2.053,-3.875 -1.976,-6.123c0.044,-1.4 0.09,-2.848 -0.368,-4.538c-0.167,-0.613 -0.384,-1.202 -0.662,-1.794l-0.045,-0.1l-0.41,-0.466c-0.108,-0.122 -0.218,-0.247 -0.329,-0.375l0.279,-0.253c0.023,-0.018 0.043,-0.038 0.06,-0.057l5.325,-4.829c0.232,-0.211 0.439,-0.444 0.619,-0.694c0.456,0.371 0.886,0.716 1.278,1.027l0.157,0.126l0.202,0.032c2.15,0.326 3.98,0.567 6.298,0.872l2.107,0.281c1.88,0.25 3.875,1.663 5.084,3.598c1.084,1.74 1.446,3.739 1.038,5.681Zm-21.665,-16.297c0.53,-0.482 1.216,-0.746 1.932,-0.746c0.811,0 1.589,0.345 2.134,0.945c0.517,0.567 0.78,1.303 0.743,2.07c-0.039,0.769 -0.373,1.477 -0.942,1.991l-5.348,4.853l-0.023,0.02c-0.232,0.206 -0.485,0.368 -0.76,0.485c-1.129,0.493 -2.446,0.209 -3.276,-0.705c-0.852,-0.937 -0.992,-2.302 -0.35,-3.394c0.143,-0.245 0.325,-0.469 0.543,-0.667l5.347,-4.852Zm-5.392,-7.05l0.049,-0.045c0.56,-0.486 1.279,-0.736 2.024,-0.701c0.768,0.037 1.476,0.372 1.992,0.941c0.516,0.57 0.78,1.305 0.742,2.072c-0.037,0.769 -0.371,1.477 -0.941,1.992l-6.146,5.577c-0.146,0.133 -0.303,0.246 -0.467,0.342c-1.167,0.689 -2.676,0.458 -3.588,-0.549c-0.93,-1.023 -0.998,-2.567 -0.159,-3.673c0.097,-0.133 0.217,-0.263 0.357,-0.39l6.137,-5.566Zm-5.392,-7.052c0.57,-0.517 1.307,-0.78 2.074,-0.744c0.768,0.038 1.475,0.371 1.991,0.942c0.518,0.567 0.782,1.303 0.744,2.071c-0.039,0.769 -0.374,1.476 -0.943,1.992l-2.894,2.627c-0.25,-1.932 -1.548,-3.261 -1.714,-3.425l-0.089,-0.073c0,0 -0.673,-0.478 -1.631,-1.155l2.462,-2.235Zm-3.458,0.513l0.17,-0.16l-0.179,0.16l0.009,0Zm-2.083,-7.428l0.019,-0.016c0.567,-0.515 1.302,-0.778 2.065,-0.739c0.767,0.037 1.474,0.372 1.993,0.942c0.515,0.568 0.779,1.303 0.741,2.072c-0.036,0.769 -0.37,1.475 -0.938,1.99l-3.393,3.079c-1.211,-0.85 -2.162,-1.51 -2.83,-1.965c-0.677,-0.464 -1.439,-0.859 -2.272,-1.177l4.615,-4.186Zm-9.364,4.44c-2.437,-0.391 -4.333,-0.641 -6.53,-0.93c-0.551,-0.072 -1.132,-0.15 -1.757,-0.233c-1.516,-0.202 -3.129,-1.345 -4.107,-2.913c-0.843,-1.353 -1.146,-2.907 -0.873,-4.422l6.313,3.493l0.357,-0.178c0.055,-0.028 5.431,-2.801 4.391,-7.926l-0.061,-0.312l-5.175,-3.401c0.636,-0.222 1.45,-0.443 2.366,-0.544c2.721,-0.307 5.088,0.524 7.037,2.469c1.706,1.702 1.658,3.136 1.598,4.952c-0.041,1.247 -0.089,2.662 0.456,4.288l0.037,0.116l0.074,0.1c0.55,0.735 1.119,1.468 1.695,2.184l-4.406,3.997c-0.053,-0.058 -0.105,-0.116 -0.156,-0.173l-0.522,-0.586l-0.374,0.031c-0.126,0.012 -0.246,0.008 -0.363,-0.012Z"/></svg>
				<h3>Opravy strojních <br>zařízení</h3>
			</div>

			<div class="sll5" data-service="service-15" data-aos="flip-up">
				<svg class="img-response service-icon" width="100%" height="100%" viewBox="0 0 76 76" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g id="_3" serif:id="3"><g><g><g><path d="M56.039,10.101c1.726,0 3.127,1.401 3.127,3.127c0,1.726 -1.401,3.127 -3.127,3.127c-1.726,0 -3.127,-1.401 -3.127,-3.127c0,-1.726 1.401,-3.127 3.127,-3.127Z" /><path d="M56.039,20.684c4.088,0 7.456,-3.367 7.456,-7.456c0,-4.089 -3.368,-7.456 -7.456,-7.456c-4.088,0 -7.456,3.367 -7.456,7.456c0,4.089 3.368,7.456 7.456,7.456Zm0,-13.108c3.127,0 5.652,2.525 5.652,5.652c0,3.127 -2.525,5.652 -5.652,5.652c-3.127,0 -5.652,-2.525 -5.652,-5.652c0,-3.127 2.525,-5.652 5.652,-5.652Z" /><path d="M13.228,16.355c1.725,0 3.126,1.401 3.126,3.126c0,1.726 -1.401,3.127 -3.126,3.127c-1.726,0 -3.127,-1.401 -3.127,-3.127c0,-1.725 1.401,-3.126 3.127,-3.126Z" /><path d="M13.228,26.937c4.089,0 7.456,-3.367 7.456,-7.456c0,-4.088 -3.367,-7.456 -7.456,-7.456c-4.089,0 -7.456,3.368 -7.456,7.456c0,4.089 3.367,7.456 7.456,7.456Zm0,-13.228c3.126,0 5.652,2.525 5.652,5.652c0,3.127 -2.526,5.652 -5.652,5.652c-3.127,0 -5.652,-2.525 -5.652,-5.652c0,-3.127 2.525,-5.652 5.652,-5.652Z"/><path d="M42.089,64.938c1.726,0 3.127,1.401 3.127,3.126c0,1.726 -1.401,3.127 -3.127,3.127c-1.725,0 -3.126,-1.401 -3.126,-3.127c0,-1.725 1.401,-3.126 3.126,-3.126Z"/><path d="M42.089,60.488c-4.089,0 -7.455,3.368 -7.455,7.456c0,4.089 3.366,7.456 7.455,7.456c4.089,0 7.456,-3.367 7.456,-7.456c0.12,-4.088 -3.247,-7.456 -7.456,-7.456Zm0,13.228c-3.126,0 -5.652,-2.525 -5.652,-5.652c0,-3.126 2.526,-5.652 5.652,-5.652c3.127,0 5.652,2.526 5.652,5.652c0,3.127 -2.405,5.652 -5.652,5.652Z"/><path d="M19.482,59.166c1.725,0 3.126,1.401 3.126,3.126c0,1.726 -1.401,3.127 -3.126,3.127c-1.726,0 -3.128,-1.401 -3.128,-3.127c0,-1.725 1.402,-3.126 3.128,-3.126Z"/><path d="M19.482,54.836c-4.089,0 -7.457,3.368 -7.457,7.456c0,4.089 3.368,7.456 7.457,7.456c4.088,0 7.455,-3.367 7.455,-7.456c0,-4.209 -3.367,-7.456 -7.455,-7.456Zm0,13.108c-3.128,0 -5.652,-2.525 -5.652,-5.652c0,-3.126 2.524,-5.652 5.652,-5.652c3.126,0 5.652,2.526 5.652,5.652c0,3.127 -2.526,5.652 -5.652,5.652Z" /><path d="M68.064,30.304c1.727,0 3.127,1.401 3.127,3.127c0,1.726 -1.4,3.127 -3.127,3.127c-1.725,0 -3.126,-1.401 -3.126,-3.127c0,-1.726 1.401,-3.127 3.126,-3.127Z"/><path d="M68.064,25.855c-4.088,0 -7.455,3.367 -7.455,7.456c0,4.088 3.367,7.456 7.455,7.456c4.089,0 7.456,-3.368 7.456,-7.456c0,-4.089 -3.367,-7.456 -7.456,-7.456Zm0,13.228c-3.126,0 -5.651,-2.525 -5.651,-5.652c0,-3.127 2.525,-5.652 5.651,-5.652c3.127,0 5.652,2.525 5.652,5.652c0,3.127 -2.525,5.652 -5.652,5.652Z"/><path d="M62.292,52.912c1.726,0 3.127,1.401 3.127,3.127c0,1.726 -1.401,3.127 -3.127,3.127c-1.725,0 -3.126,-1.401 -3.126,-3.127c0,-1.726 1.401,-3.127 3.126,-3.127Z" /><path d="M62.292,48.583c-4.089,0 -7.456,3.367 -7.456,7.456c0,4.089 3.367,7.456 7.456,7.456c4.089,0 7.456,-3.367 7.456,-7.456c0,-4.089 -3.367,-7.456 -7.456,-7.456Zm0,13.228c-3.126,0 -5.652,-2.525 -5.652,-5.652c0,-3.127 2.526,-5.652 5.652,-5.652c3.127,0 5.652,2.525 5.652,5.652c0,3.127 -2.525,5.652 -5.652,5.652Z"/><path d="M12.747,36.798c-2.886,-2.886 -7.696,-2.886 -10.582,0c-2.887,3.007 -2.887,7.696 0,10.583c1.442,1.443 3.366,2.164 5.291,2.164c1.924,0 3.848,-0.721 5.291,-2.164c3.006,-2.887 3.006,-7.576 0,-10.583Zm-9.259,9.38c-2.165,-2.165 -2.165,-5.892 0,-8.057c2.284,-2.165 5.892,-2.165 8.056,0c2.165,2.165 2.165,5.892 0,8.057c-2.164,2.165 -5.892,2.165 -8.056,0Z" /><path d="M33.431,14.912c1.924,0 3.848,-0.722 5.291,-2.165c2.886,-2.886 2.886,-7.696 0,-10.582c-3.006,-2.887 -7.696,-2.887 -10.582,0c-2.887,2.886 -2.887,7.696 0,10.582c1.442,1.443 3.367,2.165 5.291,2.165Zm-4.089,-11.425c1.082,-1.082 2.526,-1.683 4.089,-1.683c1.443,0 2.886,0.601 4.089,1.683c2.164,2.165 2.164,5.893 0,8.057c-2.165,2.165 -5.893,2.165 -8.057,0c-2.286,-2.284 -2.286,-5.892 -0.121,-8.057Z" /></g></g><g><g><path d="M56.761,37.039c0,-0.241 -0.241,-0.481 -0.481,-0.602c0,0 -1.444,-0.12 -2.526,-0.24c-3.367,0.721 -5.772,2.405 -7.937,4.329c-1.323,3.487 -4.689,5.772 -8.538,5.532c-4.93,-0.361 -8.418,-4.69 -7.816,-9.621c0.601,-4.449 4.569,-7.576 9.018,-7.335c2.526,0.24 4.811,1.443 6.134,3.367c1.082,-0.722 2.165,-1.203 3.247,-1.804c0.721,-0.361 1.442,-0.601 2.164,-0.842c0.12,0 0.361,-0.12 0.481,-0.12l0.361,-0.12c0.601,-0.12 1.323,-0.361 2.165,-0.361l0.962,-0.722c0.24,-0.24 0.361,-0.481 0.12,-0.841c-0.842,-1.443 -2.045,-2.886 -3.247,-3.969c-0.241,-0.24 -0.601,-0.24 -0.722,0l-3.247,2.646c-0.24,0.12 -0.481,0.24 -0.721,0c-0.962,-0.722 -2.044,-1.323 -3.247,-1.804c-0.24,-0.12 -0.481,-0.361 -0.361,-0.601l0.481,-4.209c0,-0.361 -0.12,-0.601 -0.481,-0.601c-0.842,-0.241 -1.683,-0.361 -2.525,-0.482c-0.842,-0.12 -1.683,-0.12 -2.646,-0.12c-0.36,0 -0.601,0.241 -0.601,0.602l-0.481,4.209c0,0.24 -0.241,0.481 -0.481,0.601c-1.202,0.24 -2.405,0.601 -3.487,1.082c-0.241,0.12 -0.602,0 -0.722,-0.12l-2.645,-3.247c-0.241,-0.241 -0.482,-0.241 -0.722,-0.12c-1.443,0.842 -2.886,2.044 -4.089,3.247c-0.24,0.24 -0.24,0.601 0,0.841l2.646,3.247c0.12,0.241 0.12,0.481 0,0.722c-0.722,0.962 -1.323,2.044 -1.683,3.247c-0.121,0.24 -0.362,0.481 -0.602,0.36l-4.089,-0.481c-0.361,0 -0.601,0.241 -0.721,0.481c-0.24,0.842 -0.361,1.684 -0.481,2.526c-0.12,0.842 -0.12,1.683 -0.12,2.525c0,0.361 0.24,0.601 0.601,0.601l4.209,0.482c0.24,0 0.481,0.24 0.481,0.481c0.241,1.202 0.601,2.405 1.082,3.487c0.12,0.24 0,0.601 -0.12,0.721l-3.247,2.646c-0.24,0.241 -0.361,0.481 -0.121,0.842c0.842,1.443 2.045,2.766 3.247,3.968c0.241,0.241 0.602,0.241 0.842,0l3.247,-2.645c0.24,-0.121 0.481,-0.241 0.722,0c0.962,0.721 2.044,1.322 3.247,1.683c0.241,0.12 0.481,0.361 0.36,0.601l-0.481,4.209c0,0.361 0.121,0.602 0.481,0.722c0.842,0.241 1.684,0.361 2.526,0.481c0.842,0.12 1.803,0.12 2.645,0.12c0.241,0 0.602,-0.24 0.602,-0.601l0.481,-4.209c0,-0.241 0.24,-0.481 0.48,-0.601c1.203,-0.241 2.405,-0.602 3.488,-1.083c0.241,-0.12 0.601,0 0.722,0.121l2.645,3.246c0.241,0.241 0.481,0.361 0.842,0.121c1.443,-0.962 2.886,-2.045 3.968,-3.247c0.241,-0.241 0.241,-0.601 0,-0.842l-2.645,-3.247c-0.121,-0.24 -0.24,-0.481 0,-0.721c0.721,-0.962 1.323,-2.045 1.803,-3.247c0.121,-0.241 0.362,-0.481 0.602,-0.361l4.209,0.481c0.241,0 0.601,-0.12 0.601,-0.481c0.24,-0.842 0.361,-1.683 0.481,-2.525c-0.36,-0.602 -0.36,-1.443 -0.36,-2.405Z" /><path d="M55.077,32.83c0,0.841 -0.12,1.322 -1.444,1.563c-6.613,1.323 -10.221,6.133 -13.468,9.139c-0.962,0.962 -2.405,0.722 -3.006,-0.12c-1.323,-1.683 -3.607,-5.051 -3.607,-5.051c-0.723,-0.962 -0.723,-1.443 -0.241,-2.285c0.481,-0.721 1.443,-0.962 2.165,-0.36l3.607,3.367c0,0 1.203,-1.082 1.804,-1.563c1.202,-0.962 2.405,-1.925 3.728,-2.766c1.323,-0.842 2.645,-1.684 4.089,-2.285c0.6,-0.361 1.322,-0.601 1.923,-0.722c0.241,-0.12 0.482,-0.12 0.722,-0.24c0.721,-0.12 1.443,-0.361 2.165,-0.361c0.721,0.12 1.443,0.722 1.563,1.684Z" /></g></g></g></g></svg>
				<!-- <svg class="img-response service-icon" width="100%" height="100%" viewBox="0 0 76 76" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><g><path d="M56.039,10.101c1.726,0 3.127,1.401 3.127,3.127c0,1.726 -1.401,3.127 -3.127,3.127c-1.726,0 -3.127,-1.401 -3.127,-3.127c0,-1.726 1.401,-3.127 3.127,-3.127Z" /><path d="M56.039,20.684c4.088,0 7.456,-3.367 7.456,-7.456c0,-4.089 -3.368,-7.456 -7.456,-7.456c-4.088,0 -7.456,3.367 -7.456,7.456c0,4.089 3.368,7.456 7.456,7.456Zm0,-13.108c3.127,0 5.652,2.525 5.652,5.652c0,3.127 -2.525,5.652 -5.652,5.652c-3.127,0 -5.652,-2.525 -5.652,-5.652c0,-3.127 2.525,-5.652 5.652,-5.652Z"/><path d="M13.228,16.355c1.725,0 3.126,1.401 3.126,3.126c0,1.726 -1.401,3.127 -3.126,3.127c-1.726,0 -3.127,-1.401 -3.127,-3.127c0,-1.725 1.401,-3.126 3.127,-3.126Z" /><path d="M13.228,26.937c4.089,0 7.456,-3.367 7.456,-7.456c0,-4.088 -3.367,-7.456 -7.456,-7.456c-4.089,0 -7.456,3.368 -7.456,7.456c0,4.089 3.367,7.456 7.456,7.456Zm0,-13.228c3.126,0 5.652,2.525 5.652,5.652c0,3.127 -2.526,5.652 -5.652,5.652c-3.127,0 -5.652,-2.525 -5.652,-5.652c0,-3.127 2.525,-5.652 5.652,-5.652Z" /><path d="M42.089,64.938c1.726,0 3.127,1.401 3.127,3.126c0,1.726 -1.401,3.127 -3.127,3.127c-1.725,0 -3.126,-1.401 -3.126,-3.127c0,-1.725 1.401,-3.126 3.126,-3.126Z" /><path d="M42.089,60.488c-4.089,0 -7.455,3.368 -7.455,7.456c0,4.089 3.366,7.456 7.455,7.456c4.089,0 7.456,-3.367 7.456,-7.456c0.12,-4.088 -3.247,-7.456 -7.456,-7.456Zm0,13.228c-3.126,0 -5.652,-2.525 -5.652,-5.652c0,-3.126 2.526,-5.652 5.652,-5.652c3.127,0 5.652,2.526 5.652,5.652c0,3.127 -2.405,5.652 -5.652,5.652Z" /><path d="M19.482,59.166c1.725,0 3.126,1.401 3.126,3.126c0,1.726 -1.401,3.127 -3.126,3.127c-1.726,0 -3.128,-1.401 -3.128,-3.127c0,-1.725 1.402,-3.126 3.128,-3.126Z" /><path d="M19.482,54.836c-4.089,0 -7.457,3.368 -7.457,7.456c0,4.089 3.368,7.456 7.457,7.456c4.088,0 7.455,-3.367 7.455,-7.456c0,-4.209 -3.367,-7.456 -7.455,-7.456Zm0,13.108c-3.128,0 -5.652,-2.525 -5.652,-5.652c0,-3.126 2.524,-5.652 5.652,-5.652c3.126,0 5.652,2.526 5.652,5.652c0,3.127 -2.526,5.652 -5.652,5.652Z"/><path d="M68.064,30.304c1.727,0 3.127,1.401 3.127,3.127c0,1.726 -1.4,3.127 -3.127,3.127c-1.725,0 -3.126,-1.401 -3.126,-3.127c0,-1.726 1.401,-3.127 3.126,-3.127Z" /><path d="M68.064,25.855c-4.088,0 -7.455,3.367 -7.455,7.456c0,4.088 3.367,7.456 7.455,7.456c4.089,0 7.456,-3.368 7.456,-7.456c0,-4.089 -3.367,-7.456 -7.456,-7.456Zm0,13.228c-3.126,0 -5.651,-2.525 -5.651,-5.652c0,-3.127 2.525,-5.652 5.651,-5.652c3.127,0 5.652,2.525 5.652,5.652c0,3.127 -2.525,5.652 -5.652,5.652Z"/><path d="M62.292,52.912c1.726,0 3.127,1.401 3.127,3.127c0,1.726 -1.401,3.127 -3.127,3.127c-1.725,0 -3.126,-1.401 -3.126,-3.127c0,-1.726 1.401,-3.127 3.126,-3.127Z"/><path d="M62.292,48.583c-4.089,0 -7.456,3.367 -7.456,7.456c0,4.089 3.367,7.456 7.456,7.456c4.089,0 7.456,-3.367 7.456,-7.456c0,-4.089 -3.367,-7.456 -7.456,-7.456Zm0,13.228c-3.126,0 -5.652,-2.525 -5.652,-5.652c0,-3.127 2.526,-5.652 5.652,-5.652c3.127,0 5.652,2.525 5.652,5.652c0,3.127 -2.525,5.652 -5.652,5.652Z" /><path d="M12.747,36.798c-2.886,-2.886 -7.696,-2.886 -10.582,0c-2.887,3.007 -2.887,7.696 0,10.583c1.442,1.443 3.366,2.164 5.291,2.164c1.924,0 3.848,-0.721 5.291,-2.164c3.006,-2.887 3.006,-7.576 0,-10.583Zm-9.259,9.38c-2.165,-2.165 -2.165,-5.892 0,-8.057c2.284,-2.165 5.892,-2.165 8.056,0c2.165,2.165 2.165,5.892 0,8.057c-2.164,2.165 -5.892,2.165 -8.056,0Z" /><path d="M33.431,14.912c1.924,0 3.848,-0.722 5.291,-2.165c2.886,-2.886 2.886,-7.696 0,-10.582c-3.006,-2.887 -7.696,-2.887 -10.582,0c-2.887,2.886 -2.887,7.696 0,10.582c1.442,1.443 3.367,2.165 5.291,2.165Zm-4.089,-11.425c1.082,-1.082 2.526,-1.683 4.089,-1.683c1.443,0 2.886,0.601 4.089,1.683c2.164,2.165 2.164,5.893 0,8.057c-2.165,2.165 -5.893,2.165 -8.057,0c-2.286,-2.284 -2.286,-5.892 -0.121,-8.057Z"/></g></g></svg> -->
				<h3>Servis, dodávka a prodej náhradních dílů</h3>
			</div>
			<div class="sll5" data-service="service-16" data-aos="flip-up">
				<svg class="img-response service-icon" width="100%" height="100%" viewBox="0 0 70 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M35.457,0.002c4.039,0.047 8.095,0.795 11.969,2.296c13.231,5.127 22.238,18.182 22.323,32.369l0.001,0.644c0.001,0.645 0.004,1.291 0.003,1.936c0,0.718 0.136,1.581 -0.025,2.286c-0.384,1.685 -0.875,3.377 -1.16,5.081c-0.09,0.377 -0.453,0.734 -0.67,1.037c-0.308,0.428 -0.399,0.432 -0.214,0.915c0.215,0.562 0.382,1.141 0.476,1.737c0.227,1.449 0.081,2.997 0.081,4.456c0,1.224 0,2.446 0,3.67c0,0.552 0.103,1.216 -0.019,1.761c-0.222,1.523 -2.091,1.995 -3.392,1.894c-1.468,-0.113 -2.702,-0.892 -2.702,-2.455c0,-1.92 0,-3.839 0,-5.758c-0.038,0.029 -0.076,0.057 -0.115,0.087c-0.83,0.623 -1.659,1.248 -2.49,1.872c-0.43,0.324 -0.241,0.914 -0.241,1.455c0,1.183 0,2.366 0,3.55c0,0.645 0.022,1.181 -0.435,1.692c-0.812,0.923 -2.725,1.008 -3.694,0.282c-0.641,-0.482 -0.758,-1.018 -0.758,-1.775c0,-0.964 0,-1.928 0,-2.891c-1.376,0.61 -2.574,1.069 -4.027,1.416c-2.087,0.499 -4.173,0.999 -6.258,1.498c-1.344,0.321 -2.846,0.262 -4.217,0.367c-1.656,0.125 -3.354,0.377 -5.015,0.377c-1.661,0.001 -3.36,-0.252 -5.015,-0.377c-1.396,-0.106 -2.907,-0.054 -4.274,-0.38c-2.15,-0.516 -4.3,-1.03 -6.45,-1.544c-1.27,-0.303 -2.294,-0.698 -3.495,-1.231c-1.145,-0.507 -2.29,-1.014 -3.434,-1.521c-0.438,-0.194 -1.257,-0.773 -1.745,-0.773c-0.573,-0.314 -1.086,-0.788 -1.607,-1.18c-0.987,-0.743 -1.973,-1.485 -2.96,-2.227c-0.399,-0.301 -0.934,-0.589 -1.232,-1.003c-0.581,-0.811 -1.163,-1.622 -1.745,-2.432c-0.533,-0.743 -1.067,-1.486 -1.599,-2.229c-0.347,-0.484 -0.377,-1.34 -0.504,-1.895c-0.389,-1.709 -0.817,-3.27 -0.817,-5.017c0,-2.568 -0.033,-5.124 0.301,-7.676c0.907,-6.923 3.935,-13.489 8.585,-18.694c6.721,-7.523 16.418,-11.643 26.242,-11.622l0.328,0.002Zm15.008,48.491c-0.816,-0.458 0.331,-1.377 0.886,-1.37c0.586,0.007 1.196,0.55 1.679,0.829c1.405,0.811 3.064,1.483 3.963,2.908c0.702,0.702 0.722,2.102 0.722,2.996l0,4.93c0,0.142 0.075,0.54 -0.001,0.667c-0.222,0.374 -1.525,0.372 -1.749,0c-0.081,-0.134 -0.001,-0.559 -0.001,-0.708c0,-0.62 0,-1.239 0,-1.857c0,-1.387 -0.043,-2.785 -0.043,-4.164c-0.151,-0.755 -0.635,-1.36 -1.241,-1.793c-1.374,-0.86 -2.812,-1.629 -4.215,-2.438Zm5.9,-5.326c-0.518,-0.334 -0.413,-1.339 -0.281,-1.853c0.187,-0.728 0.768,-1.136 1.48,-0.885c0.62,0.217 1.228,0.702 1.795,1.028c1.06,0.611 2.12,1.224 3.181,1.837c2.135,1.232 3.682,2.776 4.083,5.323c0.259,1.648 0.051,3.45 0.051,5.11c0,1.124 0,2.246 0,3.369c0,0.555 0.136,0.978 -0.443,1.236c-0.694,0.308 -1.521,0.253 -2.204,-0.05c-0.518,-0.229 -0.332,-0.947 -0.332,-1.404c0,-2.144 0,-4.288 0,-6.432c0,-1.401 -0.077,-2.986 -1.406,-3.841c-0.748,-0.538 -1.623,-0.954 -2.419,-1.414c-1.168,-0.675 -2.337,-1.349 -3.505,-2.024Zm-29.528,11.387c1.939,0.148 3.879,0.295 5.818,0.442c0.384,0.029 1.438,-0.127 1.438,0.338c0,0.946 0,1.892 0,2.839c-1.939,-0.148 -3.879,-0.294 -5.818,-0.441c-0.384,-0.03 -1.438,0.128 -1.438,-0.337c0,-0.947 0,-1.894 0,-2.841Zm9.798,3.155c-0.025,-0.297 2.115,-0.301 2.421,-0.324c0.963,-0.074 1.925,-0.147 2.889,-0.22c0,0.178 -0.005,0.355 0.015,0.53c-1.774,0.135 -3.549,0.27 -5.324,0.405c-0.001,-0.131 -0.001,-0.26 -0.001,-0.391Zm7.851,-3.382c2.478,-0.593 4.957,-1.186 7.435,-1.779c0,0.751 0,1.501 0,2.252c0,0.395 0.175,0.735 -0.285,0.845c-0.335,0.08 -0.668,0.159 -1.002,0.24c-2.048,0.489 -4.098,0.98 -6.148,1.47c0,-1.01 0,-2.018 0,-3.028Zm-24.964,1.47c-0.027,-0.09 0,-0.213 0,-0.307c0.957,0.228 1.914,0.457 2.872,0.685c0.537,0.129 1.074,0.257 1.61,0.385c0.425,0.102 0.359,0.132 0.359,0.578c-0.812,-0.194 -1.626,-0.389 -2.438,-0.584c-0.559,-0.133 -1.118,-0.267 -1.676,-0.401c-0.33,-0.079 -0.727,-0.036 -0.727,-0.356Zm22.423,-0.779c0.024,0.297 -2.116,0.301 -2.421,0.324c-0.964,0.074 -1.926,0.147 -2.889,0.22c0,-0.178 0.001,-0.354 -0.015,-0.529c1.774,-0.135 3.549,-0.271 5.324,-0.406c0.001,0.131 0.001,0.26 0.001,0.391Zm-30.391,-5.2c1.527,0.677 3.053,1.353 4.581,2.03c0.487,0.215 0.912,0.205 0.912,0.749c0,0.86 0,1.72 0,2.58c-1.527,-0.677 -3.053,-1.353 -4.581,-2.03c-0.487,-0.215 -0.912,-0.205 -0.912,-0.749c0,-0.86 0,-1.721 0,-2.58Zm12.809,4.476c0.027,0.089 0,0.213 0,0.307c-0.957,-0.228 -1.914,-0.457 -2.872,-0.686c-0.537,-0.129 -1.074,-0.257 -1.61,-0.385c-0.425,-0.102 -0.359,-0.131 -0.359,-0.577c0.813,0.194 1.626,0.389 2.438,0.583c0.559,0.134 1.118,0.267 1.676,0.402c0.331,0.077 0.727,0.035 0.727,0.356Zm10.514,-52.766c14.236,0 27.216,9.443 31.651,22.964c0.551,1.682 0.967,3.407 1.244,5.155c0.136,0.855 0.237,1.715 0.305,2.577c0.058,0.73 0.262,1.719 0.099,2.435c-0.215,0.946 -0.432,1.892 -0.648,2.838c-0.133,0.587 -0.157,1.56 -0.516,2.06c-0.636,0.888 -1.274,1.775 -1.911,2.663c-0.148,0.207 -0.278,0.611 -0.523,0.45c-0.151,-0.098 -0.306,-0.188 -0.464,-0.279c-1.835,-1.059 -3.669,-2.118 -5.504,-3.177c-2.363,-1.364 -4.244,0.735 -4.157,3.085c0.044,1.201 0.541,1.887 1.553,2.471c1.28,0.738 2.559,1.477 3.838,2.216c-0.616,0.463 -1.162,0.905 -1.865,1.216c-0.465,0.206 -0.743,0.506 -1.149,0.178c-0.157,-0.126 -0.333,-0.238 -0.508,-0.339c-0.864,-0.499 -1.728,-0.997 -2.594,-1.497c-0.573,-0.331 -1.21,-0.836 -1.881,-0.948c-1.386,-0.247 -2.947,0.687 -3.172,2.126c-0.307,1.836 1.715,2.537 2.993,3.275c-1.843,0.44 -3.686,0.881 -5.528,1.322c-1.293,0.309 -2.487,0.607 -3.805,0.707c-2.271,0.172 -4.542,0.345 -6.813,0.518c-1.351,0.103 -2.721,-0.109 -4.07,-0.212c-1.225,-0.093 -2.451,-0.186 -3.677,-0.279c-0.515,-0.04 -1.11,-0.005 -1.614,-0.126c-1.933,-0.462 -3.866,-0.925 -5.8,-1.386c-1.367,-0.328 -2.506,-0.646 -3.785,-1.213c-1.801,-0.798 -3.601,-1.595 -5.402,-2.393c-0.6,-0.266 -1.189,-0.893 -1.709,-1.285c-0.962,-0.723 -1.922,-1.446 -2.882,-2.17c-1.307,-0.983 -2.12,-2.529 -3.067,-3.848c-0.325,-0.454 -0.778,-0.898 -0.904,-1.451c-0.25,-1.099 -0.501,-2.199 -0.752,-3.298c-0.631,-2.768 -0.062,-5.809 0.573,-8.545c3.198,-13.808 15.261,-24.377 29.383,-25.672c1.018,-0.091 2.04,-0.138 3.061,-0.138Zm18.611,51.539c0,-0.339 0.041,-0.709 -0.034,-1.039c0.189,0.11 0.384,0.211 0.558,0.344c0.115,0.129 0.21,0.276 0.284,0.432c-0.27,0.119 -0.539,0.239 -0.808,0.358c0,-0.032 0,-0.063 0,-0.095Zm6.281,-4.062c0.209,-0.156 1.426,-1.243 1.585,-1.139c0.344,0.227 0.633,0.712 0.734,1.107c0.072,0.285 0.04,0.602 0.04,0.892c0,0.144 -0.436,0.372 -0.541,0.45c-0.605,0.456 -1.212,0.912 -1.817,1.367c-0.001,-0.893 -0.001,-1.785 -0.001,-2.677Zm-53.083,0.054c0.513,0.385 1.023,0.769 1.535,1.155c0.259,0.195 1.188,0.659 1.168,1.019c-0.406,-0.306 -2.823,-1.796 -2.703,-2.174Zm2.703,-0.093c0,0.055 0,0.11 0,0.165c-0.605,-0.456 -1.21,-0.91 -1.815,-1.366c-0.271,-0.203 -0.54,-0.406 -0.811,-0.61c-0.104,-0.078 -0.03,-0.459 -0.03,-0.598c0.479,0.36 0.957,0.72 1.434,1.08c0.331,0.248 0.661,0.498 0.992,0.745c0.365,0.276 0.23,0.149 0.23,0.584Zm-6.659,-6.739c0.553,0.769 1.105,1.541 1.658,2.311c0.405,0.564 0.18,1.526 0.18,2.201c-0.554,-0.769 -1.106,-1.541 -1.659,-2.31c-0.403,-0.565 -0.179,-1.528 -0.179,-2.202Zm63.92,0.624c0,0.591 -0.105,0.761 -0.456,1.251c-0.09,-0.102 -0.325,-0.263 -0.238,-0.384c0.231,-0.323 0.463,-0.645 0.694,-0.968c0,0.033 0,0.067 0,0.101Zm-52.451,-6.769c0.216,1.841 3.272,-0.893 3.884,-1.242c1.38,-0.786 2.742,-1.614 4.164,-2.323c2.018,-1.006 4.037,-2.01 6.055,-3.016c0.527,-0.263 1.376,-0.563 1.051,-1.344c-0.309,-0.703 -1.777,-1.087 -2.399,-1.39c-0.313,-0.152 -0.626,-0.304 -0.939,-0.457c1.422,-0.903 2.817,-1.887 4.282,-2.717c0.578,-0.327 2,-0.784 2.103,-1.555c0.122,-0.909 -1.296,-1.167 -1.897,-1.46c-0.891,-0.433 -1.782,-0.867 -2.674,-1.3c-0.843,-0.41 -1.663,0.564 -2.28,1.033c-1.358,1.035 -2.659,2.145 -3.978,3.231c-1.151,0.949 -2.22,1.861 -3.253,2.933c-0.617,0.641 -0.137,1.202 0.48,1.533c0.788,0.423 1.575,0.846 2.363,1.269c-1.394,1.189 -2.787,2.379 -4.181,3.567c-0.39,0.333 -0.761,0.65 -1.109,1.025c-0.455,0.49 -1.763,1.435 -1.672,2.213Zm8.315,-5.899c0.339,-0.258 0.818,-0.509 0.861,-0.982c0.047,-0.561 -0.405,-0.734 -0.809,-0.95c-0.831,-0.446 -1.662,-0.892 -2.492,-1.338c1.576,-1.635 3.497,-2.985 5.247,-4.428c0.679,-0.558 1.383,-1.081 2.081,-1.614c0.252,-0.192 2.128,0.981 2.488,1.152c-1.806,1.024 -3.53,2.212 -5.283,3.326c-0.552,0.35 -1.637,1.224 -0.53,1.763c0.929,0.451 1.858,0.903 2.787,1.355c-1.873,0.933 -3.745,1.865 -5.617,2.797c0.422,-0.36 0.844,-0.721 1.267,-1.081Z" /></svg>
				<h3>Servis, opravy a výměny plynových membrán</h3>
			</div>
			<div class="sll5" data-service="service-17" data-aos="flip-up">
				<svg class="img-response service-icon" width="100%" height="100%" viewBox="0 0 49 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M29.75,0c0.781,0.001 1.863,0.449 2.416,1.002l15.031,15.03c0.554,0.555 1.001,1.635 1.001,2.416l0,42.51c0,1.565 -1.264,2.833 -2.835,2.834l-42.528,0c-1.565,0 -2.835,-1.274 -2.835,-2.834l0,-58.124c0,-1.565 1.264,-2.833 2.835,-2.834l26.915,0Zm-0.683,1.418l-26.088,0c-0.867,0 -1.561,0.695 -1.561,1.552l0,57.852c0,0.857 0.698,1.552 1.561,1.552l42.24,0c0.867,0 1.562,-0.695 1.562,-1.552l0,-41.707c0,-0.392 -0.323,-0.709 -0.703,-0.709l-13.474,0c-1.565,0 -2.835,-1.267 -2.835,-2.835l0,-13.451c0,-0.388 -0.318,-0.702 -0.702,-0.702Zm-14.89,46.78c0.783,0.001 1.417,0.638 1.417,1.416l0,1.421c0,0.782 -0.636,1.415 -1.417,1.416l-1.42,0c-0.783,0 -1.416,-0.636 -1.416,-1.416l0,-1.421c0,-0.781 0.636,-1.415 1.416,-1.416l1.42,0Zm-0.001,2.836l0,-1.418l-1.417,0l0,1.418l1.417,0Zm21.97,0l-17.006,0c-0.393,0 -0.711,-0.315 -0.711,-0.709c0,-0.392 0.32,-0.709 0.711,-0.709l17.006,0c0.393,0 0.711,0.315 0.711,0.709c0,0.391 -0.319,0.708 -0.711,0.709Zm-21.969,-9.924c0.783,0.001 1.417,0.638 1.417,1.417l0,1.42c0,0.782 -0.636,1.415 -1.417,1.416l-1.42,0c-0.783,0 -1.416,-0.636 -1.416,-1.416l0,-1.42c0,-0.782 0.636,-1.416 1.416,-1.417l1.42,0Zm-0.001,2.836l0,-1.418l-1.417,0l0,1.418l1.417,0Zm21.97,0l-17.006,0c-0.393,0 -0.711,-0.315 -0.711,-0.709c0,-0.392 0.32,-0.709 0.711,-0.709l17.006,0c0.393,0 0.711,0.315 0.711,0.709c0,0.391 -0.319,0.708 -0.711,0.709Zm-21.969,-9.924c0.783,0.001 1.417,0.638 1.417,1.417l0,1.42c0,0.782 -0.636,1.416 -1.417,1.416l-1.42,0c-0.783,0 -1.416,-0.637 -1.416,-1.416l0,-1.42c0,-0.782 0.636,-1.416 1.416,-1.417l1.42,0Zm-0.001,2.836l0,-1.418l-1.417,0l0,1.418l1.417,0Zm21.97,0l-17.006,0c-0.393,0 -0.711,-0.315 -0.711,-0.709c0,-0.392 0.32,-0.709 0.711,-0.709l17.006,0c0.393,0 0.711,0.315 0.711,0.709c0,0.391 -0.319,0.708 -0.711,0.709Zm-21.969,-9.924c0.783,0.001 1.417,0.638 1.417,1.417l0,1.42c0,0.782 -0.636,1.415 -1.417,1.416l-1.42,0c-0.783,0 -1.416,-0.637 -1.416,-1.416l0,-1.42c0,-0.782 0.636,-1.416 1.416,-1.417l1.42,0Zm-0.001,2.836l0,-1.418l-1.417,0l0,1.418l1.417,0Zm21.97,0l-17.006,0c-0.393,0 -0.711,-0.315 -0.711,-0.709c0,-0.392 0.32,-0.709 0.711,-0.709l17.006,0c0.393,0 0.711,0.315 0.711,0.709c0,0.391 -0.319,0.708 -0.711,0.709Zm9.3,-12.754c0.383,-0.001 0.478,-0.223 0.204,-0.498l-13.965,-13.965c-0.275,-0.274 -0.498,-0.183 -0.498,0.204l0,12.703c0,0.856 0.696,1.556 1.556,1.556l12.703,0Z"/></svg>
				<h3>Revize vyhrazených <br>technických zařízení</h3>
			</div>
			<div class="sll5" data-service="service-18" data-aos="flip-up">
				<svg class="img-response service-icon" width="100%" height="100%" viewBox="0 0 56 68" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M41.302,7.702l12.772,-7.558c0.529,-0.302 1.247,-0.113 1.549,0.416c0.303,0.529 0.114,1.247 -0.415,1.549l-12.47,7.369l0,2.418l11.336,-6.688c0.529,-0.302 1.247,-0.114 1.549,0.416c0.303,0.529 0.114,1.247 -0.415,1.549l-13.037,7.708c-0.076,0.038 -0.19,0.076 -0.265,0.114c0,0.038 -0.038,0.038 -0.075,0.038c-0.076,0.037 -0.114,0.037 -0.189,0.037l-0.152,0c-0.113,-0.037 -10.429,-0.869 -14.435,2.797c-0.982,0.907 -1.473,2.003 -1.473,3.363l0,32.988c0,1.361 0.491,2.457 1.473,3.364c3.212,2.985 11.073,3.06 14.171,2.834l12.848,-7.596c0.529,-0.302 1.247,-0.113 1.549,0.416c0.303,0.529 0.114,1.247 -0.415,1.549l-12.47,7.218l0,2.418l11.336,-6.688c0.529,-0.303 1.247,-0.114 1.549,0.415c0.303,0.529 0.114,1.247 -0.415,1.55l-13.037,7.708l-0.038,0c-0.038,0.038 -0.113,0.038 -0.189,0.076c-0.038,0.038 -0.038,0.038 -0.076,0.038c-0.075,0.037 -0.189,0.037 -0.264,0.037l-40.395,0c-0.642,0 -1.134,-0.491 -1.134,-1.133l0,-5.29c0,-0.076 0.038,-0.114 0.038,-0.152c0.038,-0.037 0.038,-0.037 0.038,-0.075c0,-0.076 0.037,-0.114 0.076,-0.151l0.188,-0.189c0.076,-0.076 0.114,-0.114 0.189,-0.151l12.319,-7.293c0.529,-0.303 1.247,-0.114 1.549,0.415c0.303,0.529 0.113,1.247 -0.415,1.55l-8.918,5.252c3.401,-0.076 8.124,-0.642 10.543,-2.872c0.982,-0.907 1.473,-2.003 1.473,-3.363l0,-32.989c0,-1.36 -0.491,-2.456 -1.473,-3.363c-3.326,-3.06 -11.564,-3.06 -14.435,-2.796c-0.341,0 -0.643,-0.076 -0.87,-0.302c-0.226,-0.227 -0.377,-0.529 -0.377,-0.832l0,-5.29c0,-0.038 0.038,-0.075 0.038,-0.113c0,-0.038 0.037,-0.076 0.037,-0.114l0.076,-0.151c0.037,-0.038 0.037,-0.038 0.076,-0.075c0.037,-0.038 0.037,-0.038 0.075,-0.076c0.038,-0.038 0.038,-0.038 0.075,-0.076l0.114,-0.075l0.038,0l13.036,-7.709c0.529,-0.302 1.247,-0.113 1.549,0.416c0.303,0.529 0.114,1.247 -0.415,1.549l-9.485,5.593l36.088,0Zm-0.832,57.739l0,-2.72c-3.098,0.113 -11.071,0.075 -14.926,-3.477c-1.474,-1.322 -2.229,-3.023 -2.229,-5.026l0,-32.988c0,-1.965 0.755,-3.666 2.229,-5.026c3.855,-3.552 11.866,-3.59 14.926,-3.476l0,-2.721l-38.317,0l0,2.721c3.061,-0.114 11.073,-0.076 14.927,3.476c1.474,1.323 2.229,3.023 2.229,5.026l0,32.988c0,2.003 -0.755,3.666 -2.229,5.026c-3.854,3.552 -11.828,3.59 -14.927,3.477l0,2.72l38.317,0Z" /></svg>
				<h3>Montáž a výroba <br>ocelových konstrukcí</h3>
			</div>
			<div class="sll5" data-service="service-19" data-aos="flip-up">
				<svg class="img-response service-icon" width="100%" height="100%" viewBox="0 0 72 73" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g id="_5" serif:id="5"><g><path d="M50.914,0c0.898,0.006 2.116,0.513 2.74,1.136l17.046,17.047c0.631,0.63 1.137,1.855 1.137,2.741l0,48.213c0,1.771 -1.427,3.207 -3.215,3.214l-48.235,0c-1.775,0 -3.215,-1.445 -3.215,-3.214l0,-65.923c0,-1.771 1.426,-3.207 3.215,-3.214l30.527,0Zm-0.775,1.608l-29.588,0c-0.991,0.007 -1.771,0.793 -1.771,1.761l0,65.613c0,0.973 0.792,1.761 1.771,1.761l47.907,0c0.984,0 1.771,-0.788 1.771,-1.761l0,-47.302c0,-0.444 -0.365,-0.805 -0.797,-0.805l-15.281,0c-1.776,0 -3.215,-1.436 -3.215,-3.215l0,-15.256c0,-0.435 -0.355,-0.789 -0.797,-0.796Zm18.576,17.691c0.438,-0.005 0.54,-0.256 0.231,-0.565l-15.838,-15.838c-0.311,-0.312 -0.565,-0.208 -0.565,0.231l0,14.408c0,0.97 0.79,1.764 1.764,1.764l14.408,0Z" /></g></g><g><g><path d="M11.581,72.351l-11.032,0c-0.329,0 -0.549,-0.219 -0.549,-0.549l0,-46.761c0,-0.329 0.22,-0.549 0.549,-0.549l11.032,0c0.329,0 0.548,0.22 0.548,0.549l0,46.761c0,0.326 -0.268,0.545 -0.548,0.549Zm-0.549,-46.761l-9.934,0l0,45.663l9.934,0l0,-45.663Z" /><path d="M6.038,33.054c-1.537,0 -2.745,-1.207 -2.745,-2.744c0,-1.537 1.208,-2.744 2.745,-2.744c1.536,0 2.744,1.207 2.744,2.744c0,1.537 -1.208,2.744 -2.744,2.744Zm0,-4.39c-0.933,0 -1.647,0.713 -1.647,1.646c0,0.933 0.714,1.647 1.647,1.647c0.933,0 1.646,-0.714 1.646,-1.647c0,-0.933 -0.713,-1.646 -1.646,-1.646Z" /><path d="M11.581,68.674l-4.172,0c-0.328,0 -0.549,-0.219 -0.549,-0.549c0,-0.329 0.221,-0.549 0.549,-0.549l4.172,0c0.329,0 0.548,0.22 0.548,0.549c0,0.33 -0.273,0.549 -0.548,0.549Z" /><path d="M11.581,64.558l-2.25,0c-0.33,0 -0.549,-0.22 -0.549,-0.549c0,-0.329 0.219,-0.549 0.549,-0.549l2.25,0c0.329,0 0.548,0.22 0.548,0.549c0,0.329 -0.273,0.549 -0.548,0.549Z" /><path d="M11.581,60.441l-4.172,0c-0.328,0 -0.549,-0.219 -0.549,-0.548c0,-0.33 0.221,-0.549 0.549,-0.549l4.172,0c0.329,0 0.548,0.219 0.548,0.549c0,0.329 -0.273,0.548 -0.548,0.548Z" /><path d="M11.581,56.325l-2.25,0c-0.33,0 -0.549,-0.219 -0.549,-0.549c0,-0.329 0.219,-0.549 0.549,-0.549l2.25,0c0.329,0 0.548,0.22 0.548,0.549c0,0.33 -0.273,0.549 -0.548,0.549Z" /><path d="M11.581,52.209l-4.172,0c-0.328,0 -0.549,-0.22 -0.549,-0.549c0,-0.329 0.221,-0.549 0.549,-0.549l4.172,0c0.329,0 0.548,0.22 0.548,0.549c0,0.329 -0.273,0.549 -0.548,0.549Z" /><path d="M11.581,48.093l-2.25,0c-0.33,0 -0.549,-0.22 -0.549,-0.549c0,-0.33 0.219,-0.549 0.549,-0.549l2.25,0c0.329,0 0.548,0.219 0.548,0.549c0,0.329 -0.273,0.549 -0.548,0.549Z" /><path d="M11.581,43.976l-4.172,0c-0.328,0 -0.549,-0.219 -0.549,-0.549c0,-0.329 0.221,-0.548 0.549,-0.548l4.172,0c0.329,0 0.548,0.219 0.548,0.548c0,0.33 -0.273,0.549 -0.548,0.549Z" /><path d="M11.581,39.86l-2.25,0c-0.33,0 -0.549,-0.22 -0.549,-0.549c0,-0.329 0.219,-0.549 0.549,-0.549l2.25,0c0.329,0 0.548,0.22 0.548,0.549c0,0.329 -0.273,0.549 -0.548,0.549Z" /><path d="M11.581,35.744l-4.172,0c-0.328,0 -0.549,-0.22 -0.549,-0.549c0,-0.33 0.221,-0.549 0.549,-0.549l4.172,0c0.329,0 0.548,0.219 0.548,0.549c0,0.329 -0.273,0.549 -0.548,0.549Z"/></g></g></svg>
				<h3>Kompletní <br>projekce</h3>
			</div>

			<div class="sll5" data-service="service-20" data-aos="flip-up">
				<svg class="img-response service-icon" width="100%" height="100%" viewBox="0 0 76 74" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path id="_8" serif:id="8" d="M18.743,73.392l-1.835,0c0.572,-0.836 0.698,-1.987 0.368,-2.663c-0.891,-1.815 -4.958,-2.373 -7.387,-2.707c-0.834,-0.115 -1.553,-0.215 -2.08,-0.341c-4.258,-1.023 -6.805,-2.862 -7.571,-5.466c-1.064,-3.619 1.71,-7.511 2.974,-9.04l-2.396,-2.017l24.019,-26.113l1.167,1.007l2.225,-2.566c2.083,-2.402 4.975,-3.888 8.143,-4.184l3.773,-0.353l-0.044,-0.507l0.794,-0.104c0.322,-0.043 7.924,-1.019 11.543,0.134l0.531,0.17l0.255,2.951l-0.508,0.252c-2.718,1.351 -10.947,2.075 -11.297,2.105l-0.833,0.072l-0.05,-0.576l-3.745,0.35c-2.002,0.185 -3.832,1.125 -5.152,2.646l-2.216,2.556l1.515,1.309l-1.284,1.481l0.889,0.893l-0.64,0.717l1.331,1.179l-5.651,7.186l-1.767,-1.53l-0.783,0.879l-1.684,0.108c-0.947,0.061 -1.819,0.529 -2.393,1.285l-11.636,14.129l-2.825,-2.38c-1.089,1.327 -3.485,4.664 -2.651,7.491c0.588,1.988 2.725,3.437 6.357,4.309c0.446,0.108 1.129,0.201 1.918,0.309c3.112,0.429 7.377,1.015 8.659,3.63c0.482,0.984 0.466,1.726 -0.033,3.399Zm3.497,-33.906l-0.999,0.064c-1.431,0.092 -2.75,0.8 -3.598,1.916l-10.54,12.799l-3.874,-3.26l21.739,-23.637l3.607,3.11l-1.204,1.389l0.873,0.878l-6.004,6.741Zm3.111,-0.135l-0.424,-0.367l3.863,-4.337l0.153,0.135l-3.592,4.569Zm34.898,-5.37l0.528,2.901c0.083,0.454 -0.219,0.889 -0.674,0.972c-0.051,0.01 -0.1,0.014 -0.15,0.014c-0.397,0 -0.75,-0.283 -0.822,-0.687l-0.527,-2.9c-0.083,-0.455 0.219,-0.889 0.673,-0.972c0.458,-0.089 0.89,0.217 0.972,0.672Zm-4.685,-9.723l-3.775,10.61c-0.122,0.343 -0.444,0.556 -0.788,0.556c-0.093,0 -0.189,-0.015 -0.281,-0.048c-0.435,-0.156 -0.662,-0.633 -0.507,-1.068l3.776,-10.61c0.154,-0.436 0.634,-0.663 1.068,-0.508c0.435,0.155 0.662,0.633 0.507,1.068Zm3.131,7.539c-0.056,0.012 -0.115,0.017 -0.171,0.017c-0.388,0 -0.736,-0.271 -0.818,-0.665l-1.429,-6.842c-0.095,-0.451 0.195,-0.895 0.647,-0.989c0.452,-0.099 0.894,0.195 0.989,0.647l1.429,6.842c0.095,0.452 -0.195,0.895 -0.647,0.99Zm13.259,-1.495c0.374,0.271 0.457,0.793 0.186,1.167c-0.163,0.226 -0.419,0.345 -0.678,0.345c-0.169,0 -0.341,-0.051 -0.49,-0.159l-11.768,-8.527c-0.374,-0.271 -0.457,-0.793 -0.186,-1.167c0.269,-0.373 0.792,-0.459 1.167,-0.187l11.769,8.528Zm-35.32,-8.172c-2.433,0.226 -4.657,1.368 -6.261,3.217l-2.106,2.427l-0.884,-0.766l2.107,-2.427c1.8,-2.075 4.3,-3.359 7.036,-3.614l3.762,-0.351l0.101,1.164l-3.755,0.35Zm5.471,0.076l-0.199,-2.302c1.894,-0.202 6.726,-0.62 9.494,0.017l0.055,0.644c-2.154,0.792 -6.843,1.388 -9.35,1.641Zm29.137,-3.728c0.046,0.46 -0.293,0.869 -0.75,0.913l-9.896,0.957c-0.028,0.002 -0.054,0.004 -0.082,0.004c-0.426,0 -0.789,-0.324 -0.831,-0.756c-0.045,-0.459 0.293,-0.868 0.751,-0.913l9.895,-0.956c0.472,-0.037 0.869,0.291 0.913,0.751Zm4.553,-0.575c0.05,0.459 -0.282,0.873 -0.741,0.923l-1.621,0.176c-0.031,0.003 -0.061,0.005 -0.091,0.005c-0.422,0 -0.784,-0.318 -0.83,-0.746c-0.05,-0.459 0.282,-0.872 0.74,-0.922l1.621,-0.177c0.462,-0.05 0.871,0.283 0.922,0.741Zm-16.928,-1.447l10.983,-9.872c0.343,-0.307 0.871,-0.281 1.181,0.063c0.309,0.343 0.281,0.873 -0.062,1.181l-10.982,9.872c-0.16,0.143 -0.361,0.214 -0.56,0.214c-0.229,0 -0.457,-0.093 -0.622,-0.277c-0.31,-0.343 -0.28,-0.873 0.062,-1.181Zm-2.35,-0.756l2.104,-7.613c0.122,-0.446 0.584,-0.705 1.029,-0.583c0.444,0.123 0.706,0.583 0.582,1.028l-2.103,7.613c-0.102,0.371 -0.439,0.613 -0.805,0.613c-0.075,0 -0.149,-0.01 -0.224,-0.03c-0.445,-0.123 -0.705,-0.583 -0.583,-1.028Zm-7.305,-11.602c-0.166,-0.432 0.049,-0.916 0.478,-1.082c0.434,-0.165 0.917,0.048 1.081,0.479l4.679,12.126c0.167,0.432 -0.048,0.916 -0.478,1.081c-0.099,0.039 -0.2,0.056 -0.301,0.056c-0.335,0 -0.652,-0.203 -0.78,-0.535l-4.679,-12.125Zm10.495,0.75l1.132,-4.228c0.119,-0.446 0.579,-0.71 1.024,-0.592c0.446,0.12 0.71,0.577 0.591,1.025l-1.132,4.228c-0.099,0.373 -0.436,0.62 -0.806,0.62c-0.072,0 -0.145,-0.01 -0.218,-0.029c-0.446,-0.119 -0.71,-0.578 -0.591,-1.024Z"/></svg>
				<h3>Svařečské <br>práce</h3>
			</div>

			<div class="sll5" data-service="service-21" data-aos="flip-up">
				<svg class="img-response service-icon" width="100%" height="100%" viewBox="0 0 79 74" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M16.925,73.719l-9.125,0l0,-7.183l-7.8,0l0,-1.783l7.8,0l0,-15.142l-7.8,0l0,-1.783l7.8,0l0,-6.137l9.125,0l0,6.293l4.195,0.811c3.399,-1.47 6.94,-2.506 10.541,-3.117l0,-4.598l-5.257,0l0,-10.753l5.257,0l0,-1.147l1.783,0l0,1.147l3.284,0l0,-4.032l-3.816,0l0,-8.419l3.816,0l0,-4.763l-13.462,-4.913l-3.791,0c-2.067,0 -3.75,-1.682 -3.75,-3.749l0,-0.702c0,-2.066 1.683,-3.749 3.75,-3.749l40.42,0c2.067,0 3.75,1.683 3.75,3.749l0,0.702c0,2.066 -1.682,3.749 -3.75,3.749l-4.106,0l-13.148,4.908l0,4.768l3.816,0l0,8.419l-3.816,0l0,4.032l3.285,0l0,-1.147l1.784,0l0,1.147l5.256,0l0,10.753l-5.256,0l0,4.704c3.399,0.623 6.74,1.62 9.956,3.01l4.196,-0.811l0,-6.293l9.124,0l0,6.137l7.478,0l0,1.783l-7.477,0l0,15.143l7.478,0l0,1.783l-7.478,0l0,7.183l-9.125,0l0,-6.293l-4.191,-0.81c-5.816,2.517 -12.047,3.783 -18.278,3.783c-6.232,0 -12.462,-1.266 -18.279,-3.783l-4.189,0.81l0,6.293Zm52.278,-1.783l0,-28.462l-5.557,0l0,28.462l5.557,0Zm-54.061,0l0,-28.462l-5.558,0l0,28.462l5.558,0Zm41.547,-21.627c-11.025,-4.683 -23.567,-4.683 -34.592,0l0,14.795c11.025,4.683 23.567,4.683 34.592,0l0,-14.795Zm-14.939,17.053c0.018,0 0.038,-0.001 0.057,-0.002c4.33,-0.279 8.585,-1.207 12.644,-2.758c0.461,-0.175 0.691,-0.691 0.516,-1.151c-0.176,-0.461 -0.693,-0.69 -1.151,-0.515c-3.893,1.487 -7.972,2.377 -12.124,2.645c-0.491,0.032 -0.864,0.456 -0.833,0.947c0.032,0.471 0.424,0.834 0.891,0.834Zm23.692,-2.291l1.94,0l0,1.784l-1.94,0l0,-1.784Zm-52.121,1.784l-1.941,0l0,-1.784l1.941,0l0,1.784Zm3.604,-1.245l3.389,-0.655l0,-14.5l-3.389,-0.656l0,15.811Zm44.937,0l0,-15.811l-3.39,0.656l0,14.5l3.39,0.655Zm5.52,-6.764l-1.94,0l0,-1.783l1.94,0l0,1.783Zm-54.061,0l-1.941,0l0,-1.783l1.941,0l0,1.783Zm54.061,-8.009l-1.94,0l0,-1.783l1.94,0l0,1.783Zm-54.061,0l-1.941,0l0,-1.783l1.941,0l0,1.783Zm32.605,-9.757l-12.482,0l0,4.334c4.144,-0.538 8.344,-0.515 12.482,0.076l0,-4.41Zm5.257,-1.783l0,-2.702l-22.995,0l0,2.702l22.995,0Zm0,-4.485l0,-2.701l-22.995,0l0,2.701l22.995,0Zm-10.325,-4.484l0,-4.032l-2.346,0l0,4.032l2.346,0Zm3.816,-5.815l0,-4.853l-9.978,0l0,4.853l9.978,0Zm-3.816,-6.636l0,-4.495l-2.346,0l0,4.495l2.346,0Zm0.732,-6.279l9.101,-3.398l-22.223,0l9.31,3.398l3.812,0Zm18.305,-9.815l-40.42,0c-1.085,0.001 -1.966,0.883 -1.966,1.966l0,0.702c0,1.084 0.882,1.966 1.966,1.966l40.42,0c1.085,-0.001 1.967,-0.882 1.967,-1.966l0,-0.702c0,-1.083 -0.882,-1.965 -1.967,-1.966Zm-2.906,2.706l-2.433,0c-0.493,0 -0.891,-0.398 -0.891,-0.891c0,-0.493 0.398,-0.892 0.891,-0.892l2.433,0c0.492,0 0.892,0.399 0.892,0.892c0,0.492 -0.398,0.89 -0.892,0.891Zm-4.914,0l-10.325,0c-0.493,0 -0.892,-0.398 -0.892,-0.891c0,-0.493 0.399,-0.892 0.892,-0.892l10.325,0c0.493,0 0.891,0.399 0.891,0.892c0,0.492 -0.398,0.89 -0.891,0.891Z"/></svg>
				<h3>Instalatérské <br>práce</h3>
			</div>
			<div class="sll5" data-service="service-22" data-aos="flip-up">
				<svg class="img-response service-icon" width="100%" height="100%" viewBox="0 0 71 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M53.216,0c0.665,0.001 1.106,0.443 1.106,1.106c0,0.664 -0.441,1.106 -1.106,1.107l-1.438,0l0,18.587l5.863,3.319c0.553,-0.775 1.549,-1.217 2.545,-1.217c0.083,0 0.166,0.015 0.249,0.035l0.166,0.04c0.083,0.02 0.166,0.035 0.249,0.035l3.982,-6.527c-1.659,-2.213 0,-5.2 2.656,-5.2c1.881,0 3.319,1.438 3.43,3.098c0,2.212 -1.992,3.761 -4.094,3.208l-3.982,6.417c0.441,0.664 0.774,1.328 0.774,2.102c0,1.881 -1.549,3.319 -3.319,3.319c-1.77,0 -3.319,-1.438 -3.319,-3.208l-5.09,-2.877l0,24.119c0,2.102 -1.217,3.872 -3.098,4.536c-0.221,3.208 -2.875,5.752 -6.195,5.753l-26.885,0c-4.868,0 -7.855,-5.2 -5.421,-9.293c4.093,-7.081 6.97,-11.949 8.851,-15.268l-8.077,-1.991c-0.553,0.884 -1.548,1.437 -2.655,1.438l-0.332,0l-2.434,7.634c0.664,0.553 0.996,1.438 0.996,2.323c0,1.881 -1.549,3.319 -3.319,3.319c-1.881,0 -3.319,-1.549 -3.319,-3.319c0,-1.88 1.547,-3.318 3.319,-3.319l0.331,0l2.435,-7.634c-0.664,-0.553 -0.996,-1.438 -0.996,-2.323c0,-1.881 1.549,-3.319 3.319,-3.319c1.771,0 3.208,1.438 3.319,3.097l8.629,2.103c1.549,-2.656 2.214,-3.873 2.545,-4.426l0,-21.242l-1.77,0c-0.664,-0.001 -1.106,-0.443 -1.106,-1.107c0,-0.663 0.442,-1.105 1.106,-1.106l16.043,0c0.664,0.001 1.106,0.443 1.106,1.106c0,0.664 -0.442,1.106 -1.106,1.107l-1.77,0l0,21.131l6.748,11.728l0,-36.178l-1.438,0c-0.665,-0.001 -1.107,-0.443 -1.107,-1.107c0,-0.663 0.442,-1.105 1.107,-1.106l12.502,0Zm-10.621,55.54c3.099,-0.002 4.978,-3.32 3.429,-5.975c0,0.111 -6.195,-10.732 -6.305,-10.842l-3.431,2.212c-2.765,1.771 -6.417,1.992 -9.293,0.332c-1.881,-1.106 -4.204,-1.106 -6.196,-0.221l-4.978,2.324l-3.541,6.195c-1.548,2.656 0.332,5.975 3.43,5.975l26.885,0Zm7.08,-53.327l-5.31,0l0,40.05c-0.111,-0.11 3.43,6.085 3.54,6.196c0.221,0.332 0.443,0.885 0.554,1.217c0.663,-0.443 1.106,-1.217 1.216,-2.102l0,-45.361Zm-46.356,41.378c-0.553,0 -1.106,-0.443 -1.106,-1.107c0,-0.553 0.442,-1.106 1.106,-1.106c0.553,0 1.106,0.443 1.106,1.106c0,0.664 -0.553,1.107 -1.106,1.107Zm29.871,-38.059l-8.076,0l0,21.463c0,0.222 0,0.332 -0.111,0.554c-1.77,3.097 -2.433,4.204 -7.191,12.502l2.103,-0.996c2.544,-1.217 5.642,-1.217 8.186,0.221c2.213,1.217 4.868,1.106 6.971,-0.221l3.539,-2.324l-5.309,-9.182c-0.112,-0.222 -0.112,-0.332 -0.112,-0.554l0,-21.463Zm-24.782,24.893c-0.553,0 -1.106,-0.442 -1.106,-1.106c0,-0.554 0.442,-1.107 1.106,-1.107c0.553,0 1.106,0.443 1.106,1.107c0,0.664 -0.443,1.106 -1.106,1.106Zm51.778,-3.208c-0.664,0 -1.217,-0.664 -0.996,-1.328c0.111,-0.443 0.554,-0.774 0.996,-0.774c0.553,0 1.107,0.442 1.107,1.106c0,0.553 -0.443,0.996 -1.107,0.996Zm7.855,-11.728c-0.664,0.332 -1.549,-0.11 -1.549,-0.996c0,-0.553 0.443,-1.106 1.106,-1.106c0.554,0 1.107,0.443 1.107,1.106c-0.111,0.443 -0.332,0.775 -0.664,0.996Z"/></svg>
				<h3>Biologický <br>servis</h3>
			</div>
		</div>
		
	</div>
</section>
<section>
	<div class="wrapper mt50 service-detail">
		<div class="row">
			<?php
				$limit = 22;
				foreach ($smallbox_list AS $key => $smallbox) {
					if ($key < 13) {
						continue;
					} 
					$smallbox = $smallbox['Smallbox'];
				
					echo '
						<div id="service-' . $key . '" class="service-content hide">
							<h3>' . (!empty($smallbox['name']) ? $smallbox['name'] : '' ) . '</h3><br>
							' . (!empty($smallbox['text']) ? $smallbox['text'] : '' ) . '
							<a class="btn-conci btn-contact mt10" href="/zadat-poptavku">Zadat poptávku</a>
						</div>
					';
					if ($key == $limit) {
						break;
					}
				}
			?>
		</div>
	</div>
</section>
<div class="wrapper mt50 photogallery">
<div class="container1">
<div class="wrapper">
<div class="sll3"><a class="swipebox" href="/css/layout/photo/photogallery1.jpg" title="Concia tech"><img alt="Concia tech image" class="img-responsive photo" src="/css/layout/photo/photogallery1.jpg" /> </a> <a class="swipebox" href="/css/layout/photo/photogallery2.jpg" title="Concia tech"> <img alt="Concia tech image" class="img-responsive photo" src="/css/layout/photo/photogallery2.jpg" /> </a></div>

<div class="sll3"><a class="swipebox" href="/css/layout/photo/photogallery3.jpg" title="Concia tech"><img alt="Concia tech image" class="img-responsive photo" src="/css/layout/photo/photogallery3.jpg" /> </a> <a class="swipebox" href="/css/layout/photo/photogallery4.jpg" title="Concia tech"> <img alt="Concia tech image" class="img-responsive photo" src="/css/layout/photo/photogallery4.jpg" /> </a> <a class="swipebox" href="/css/layout/photo/photogallery5.jpg" title="Concia tech"> <img alt="Concia tech image" class="img-responsive photo" src="/css/layout/photo/photogallery5.jpg" /> </a></div>

<div class="sll3"><a class="swipebox" href="/css/layout/photo/photogallery6.jpg" title="Concia tech"><img alt="Concia tech image" class="img-responsive photo" src="/css/layout/photo/photogallery6.jpg" /> </a> <a class="swipebox" href="/css/layout/photo/photogallery7.jpg" title="Concia tech"> <img alt="Concia tech image" class="img-responsive photo" src="/css/layout/photo/photogallery7.jpg" /> </a></div>
</div>
</div>
</div>

</div>
 
