<?php

    if (strpos($_SERVER['REQUEST_URI'], 'kontakty') !== false) {
        echo '<div>
            <h2>Kontaktujte nás</h2>
            <div class="smaller-wrapper"></div>';
            echo $this->requestAction("/contact_forms/1", array("return"));
        echo '</div>';
    }
?>
