<?php 
if (isset($menu_item) && count($menu_item)>0){
echo '<ul class="footer_navigace noprint twelve columns">';
	foreach ($menu_item AS $footer_menu){
	
		if ($footer_menu['MenuItem']['parent_id']==0 && $footer_menu['MenuItem']['name']){
		echo '<li>';
			echo $html->link($footer_menu['MenuItem']['name'],(empty($footer_menu['MenuItem']['spec_url'])?$lang.'/'.$footer_menu['MenuItem']['alias_'].'/':$lang.$footer_menu['MenuItem']['spec_url']),array('class'=>'ajax_href','title'=>(empty($footer_menu['MenuItem']['title'])?$footer_menu['MenuItem']['name']:$footer_menu['MenuItem']['title'])),null,false);
		echo '</li>' ;
		}
}
echo '</ul>';
}
?>