<ul class="header_fce">
	<li><a class="h_home ajax_href" href="/" title="<?php echo lang_uvodni_stranka ?>"></a></li>
	<li><a class="h_sitemap ajax_href" href="/<?php echo lang_alias_sitemap?>/" title="<?php echo lang_mapa_stranek ?>"></a></li>
	<li><a class="h_print" href="#" title="<?php echo lang_tisk ?>" onclick="tisk();"></a></li>
</ul>