<div id="header" class="el_adopt" data-el="header_adopt">
	<a href="/" id="logo" title="Concia tech s.r.o."></a>
	<?php echo $this->renderElement('layout/menu'); ?>

    <?php // echo $this->renderElement('layout/drobeckova',array('fastlinks'=>$fastlinks)); ?>

	</div>
</div>

<script>
	header();
</script>
 