<div class="languages noprint">
<ul>
	<?php 
	foreach($languages AS $lang_key => $language){
		echo '<li><a href="/'.(($lang_key != 'cz')?$lang_key.'/':'') .'" title="'.$language.'"><img src="/css/fastest/flags/'.$lang_key.'.gif" alt="'.$language.'" /></a></li>';
	} 
	?>
</ul>
</div>