<div class="search noprint">
<form action='/hledej/' method='get' id='search_formular' class='ajax_href' >
	<?php echo $htmlExt->submit('Hledej',array('id'=>'SearchButton','title'=>lang_vyhledat_zadany_text,'class'=>'button search_button'));?>
	<?php echo $htmlExt->input('search_fulltext',array('id'=>'SearchInput','accesskey'=>'k','class'=>'text','placeholder'=>lang_hledany_text)) ?>
</form>
</div> 