<div class="seo_txt">
    <p>
        Concia tech s.r.o., Servis a opravy bioplynových stanic. Jsme Concia tech a zaměřujeme se zejména na poskytování služeb a dodávku zařízení v oblasti servisu a oprav technologie bioplynových stanic v ČR a zahraničí
    </p>
</div>