<div class="mainImg cover_img" data-src="/css/layout/banner/onas-bg.jpg">
	<div class="middleText">
		<h1 class="title"><?php echo $smallbox_list[8]['Smallbox']['title']; ?></h1>
	</div>
	
	<div id="arrow_bottom_sipka"></div>
</div>

<div class="article_text">
	<div class="wrapper">
		<div class="smaller-wrapper">
			<?php echo $smallbox_list[9]['Smallbox']['text']; ?>
		</div>

	</div>
</div> 

























