<br class="clear" />
<div class="wrapper">
    <?php
    echo '<h1 class="txt-center">'.$smallbox_list[12]['Smallbox']['name'].'</h1>';
    echo $smallbox_list[12]['Smallbox']['text'];
    ?>
</div>
<?php //echo $this->renderElement('layout/footer_contact'); ?>