<?php if(!isset($_GET['pdf'])){ ?>
<?php if($map_id == 100){?>
<div id="map_streetview" class="map_border noprint">
<iframe width="300" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=cs&amp;geocode=&amp;q=Pelclova,+Ostrava,+%C4%8Cesk%C3%A1+republika&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=35.957999,114.169922&amp;ie=UTF8&amp;hq=&amp;hnear=Pelclova,+Ostrava,+%C4%8Cesk%C3%A1+republika&amp;ll=49.847943,18.285542&amp;spn=0.007153,0.027874&amp;t=m&amp;z=14&amp;layer=c&amp;cbll=49.84802,18.285779&amp;panoid=q3uBfDnEotM_Eya_eUltbg&amp;cbp=12,338.81,,0,0&amp;output=svembed"></iframe>
</div>
<?php } ?>


<div id="map_canvas_obal" class="map_border noprint map_id<?php echo $map_id?>">
	<div id="map_canvas_count"></div>
	<div id="map_canvas" class="map_id<?php echo $map_id?>"></div>
</div>



<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://scripts.fastesthost.cz/js/google_maps/google_maps_gps.js"></script>


<script type="text/javascript" language="javascript">
//<![CDATA[
new google_maps({
	map_data:<?php echo $maps_data?>,
	db_map_id:'<?php echo $map_id?>',
	map_url:'/google_maps/'
});
//]]>
</script>
<?php } ?>