/* SLIMBOX */

#lbOverlay {
	position: fixed;
	z-index: 7777777;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter{
	position: absolute;
	z-index: 8888888;
	overflow: hidden;
	background-color: #fff;
}
#lbBottomContainer {position: absolute;
	z-index: 9999999;
	
	overflow: hidden;
	background-color: #fff;}

.lbLoading {
	background: #fff url(loading.gif) no-repeat center;
}

#lbImage {
	background-position:center center !important;
	background-size:auto 100% !important;
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}
#lbImage div {max-width:1000px;
	max-height:800px;}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(prevlabel.png) no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(nextlabel.png) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(closelabel.png) no-repeat center right;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
	color:#000;
}

#lbCaption {
	font-weight: bold;
}

@media (max-width: 400px) and (orientation: portrait) {
	#lbCenter {
		width:100% !important;
		height:100% !important;
		left:0 !important;
		margin-left:0 !important;
		position:fixed !important;
		top:0 !important;
	}
	#lbImage {
		width:94%;
		background-size:100% auto !important;
		
	}
	#lbImage div {width:100% !important;}
	#lbNextLink {background: transparent url(nextlabel.png) no-repeat right 15%;}
	#lbPrevLink {background: transparent url(prevlabel.png) no-repeat 0 15%;}
	#lbBottomContainer {
		width:100% !important;
		position:fixed !important;
		bottom:0 !important;
		z-index: 999999999 !important;
		top: auto !important;
	}
	
	#lbCloseLink {background-size:auto 100%;height:30px;top:4px;position:relative;}
	
}
@media (max-width: 1000px) and (orientation: landscape) {
	#lbCenter {
		width:100% !important;
		height:100% !important;
		left:0 !important;
		margin-left:0 !important;
		position:fixed !important;
		top:0 !important;
	}
	#lbImage {
		width:97%;
		background-size: auto 100% !important;
		
	}
	#lbImage div {width:100% !important;}
	#lbNextLink {background: transparent url(nextlabel.png) no-repeat right 15%;}
	#lbPrevLink {background: transparent url(prevlabel.png) no-repeat 0 15%;}
	#lbBottomContainer {
		width:100% !important;
		position:fixed !important;
		bottom:0 !important;
		z-index: 999999999 !important;
		top: auto !important;
	}
	#lbCloseLink {background-size:100% 100%;height:30px;top:4px;position:relative;}
	#lbCaption, #lbNumber {position:relative;top:7px;}
}