<?php $pagination->setPaging($paging); 
$pocet=0; 

if (isset($guestbook_all) AND count($guestbook_all)>0){
	
	foreach ($guestbook_all AS $guest){
		echo '<div class="guestbook_text">';
		echo '<strong>'.$guest['Guestbook']['name'].'</strong><br />';
  		echo '<p><em>'.$fastest->czechDate($guest['Guestbook']['created']).'</em> - '.strip_tags($guest['Guestbook']['text']).'</p>';
		echo '</div>';
	}
	
} else {
	echo '<p>Nenalezeny žádné příspěvky</p>';
}
?>

<?php echo $this->renderElement('pagination'); // Render the pagination element ?>
