<strong class="box_title"><?php echo lang_box_fast_contact_title;?></strong>
<div class="box fast_contact">
			
<?php 
if (isset($smallbox_list)){

	if (isset($smallbox_list[$id]))
		echo strtr($smallbox_list[$id]['Smallbox']['text'],array('&'=>'&amp;'));

}

?>
</div>